.row,
.container,
.card {
  max-width: 100%; /* Empêche les éléments de dépasser */
  overflow: hidden; /* Cache les débordements */
}
.container,
.row {
  padding-bottom: 20px; /* Ajoute un espace au bas du conteneur */
}

.delivery-card {
  max-width: 50%;
}
