.product-card {
  width: 100%;
}

.product-list-container {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

/* MODAL : Permettre le scroll dans la liste des produits */
.modal-body {
  max-height: 400px; /* Empêche la modal de dépasser l'écran */
  overflow-y: auto;
}

/* Style pour améliorer l'affichage dans la modal */
.order-summary-modal .modal-content {
  max-height: 90vh;
}

.order-summary-modal .modal-body {
  max-height: 60vh;
  overflow-y: auto;
  padding: 15px;
}

.card-title {
  margin-bottom: 20px;
}

.cart-text {
  text-decoration: none;
}

.custom-phone {
  margin-top: 10px;
}

.btn-link {
  font-weight: bold;
  color: var(--bg-color);
  text-decoration: none;
}

.btn-link:hover {
  font-weight: bold;
  color: var(--main-color);
}

p {
  margin: 0;
}

.title-order {
  margin-bottom: 60px;
  text-align: center;
}

.summary-item {
  font-size: 1rem;
  line-height: 1.5;
}

.summary-item .d-flex {
  margin-bottom: 8px;
}

.summary-item span:last-child {
  font-weight: 500;
}

.form-check-input {
  transition: all 0.3s ease;
}

/* Lorsque le bouton radio est sélectionné, on change la couleur */
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
  outline: none;
}

/* Pour ajouter un effet visuel lorsque l'élément est coché */
.form-check-input:checked:focus {
  box-shadow: 0 0 0 0.25rem var(--main-color);
}

.btn-paiement {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-top: 25px;
  align-self: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

@media (max-width: 992px) {
  .row {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .product-card,
  .order-summary-card {
    width: 100%;
    margin-top: 30px;
    display: none;
  }
  .product-list-container {
    max-height: 250px;
  }

  .modal-body {
    max-height: 80vh;
    overflow-y: auto;
  }

  .title-order {
    margin-bottom: 40px;
  }

  .btn-info {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(231, 241, 231);
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .card {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
@media (max-width: 768px) {
  .product-card,
  .order-summary-card {
    width: 100%;
    margin-top: 20px;
  }

  .summary-item {
    font-size: 1rem;
  }

  .form-control {
    font-size: 1rem;
  }

  .cardbody-color {
    padding: 1rem;
  }

  .order-summary-modal .modal-body {
    max-height: 60vh; /* Ajuste la hauteur de la modal */
  }

  .btn-info {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(231, 241, 231);
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .product-card,
  .order-summary-card {
    width: 100%;
    margin-top: 15px;
  }

  .summary-item {
    font-size: 0.9rem;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .summary-popup .popup-content {
    width: 95%;
  }

  .title-order {
    margin-bottom: 30px;
  }

  .order-summary-modal .modal-body {
    max-height: 55vh;
  }

  .btn-info {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(231, 241, 231);
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
