<div class="container my-4">
  <div class="row">
    <!-- Colonne de gauche : Adresse de livraison et modes de livraison -->
    <div class="col-md-8">
      <!-- Carte : Adresse de livraison -->
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">1. Adresse de livraison</h2>

          <!-- Indicateur de chargement -->
          <div *ngIf="isLoading">
            <p class="card-text">Chargement de l'adresse...</p>
          </div>

          <div *ngIf="!isLoading">
            <div *ngIf="deliveryAddress">
              <p class="card-text">
                {{ deliveryAddress.user.firstName }}
                {{ deliveryAddress.user.lastName }}
              </p>
              <p class="card-text">{{ deliveryAddress.address }}</p>
              <p class="card-text">{{ deliveryAddress.zipCode }}</p>
              <p class="card-text">{{ deliveryAddress.city }}</p>
              <p class="card-text">{{ deliveryAddress.country }}</p>
              <p class="card-text">{{ deliveryAddress.phoneNumber }}</p>

              <!-- Bouton pour modifier l'adresse -->
              <button class="btn btn-link mt-3" (click)="onEditAddress()">
                Modifier
              </button>
            </div>
            <div *ngIf="!deliveryAddress && !userId">
              <p class="card-text">Adresse non trouvée.</p>
            </div>
            <div *ngIf="!deliveryAddress && userId">
              <p class="card-text">
                Aucune adresse associée à cet utilisateur.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Modes de livraison disponibles -->
      <div *ngIf="!isLoading && deliveryMethod.length > 0">
        <form>
          <div *ngFor="let delivery of deliveryMethod" class="mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="form-check">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="deliveryMode"
                        [value]="delivery.deliveryOption"
                        [(ngModel)]="selectedDeliveryOption"
                        (change)="onDeliveryOptionChange()"
                      />
                    </div>
                    <div class="ms-2">
                      <h5 class="card-title mb-1">
                        {{ delivery.deliveryOption }}
                      </h5>
                      <p class="card-text text-muted mb-0">
                        Livraison à partir du :
                        {{ delivery.expectedDeliveryDate | date : "longDate" }}
                      </p>
                    </div>
                  </div>
                  <p class="card-text mb-0 text-end">{{ delivery.cost }} €</p>
                </div>

                <!-- Contenu conditionnel pour "Point Relais" -->
                <div
                  *ngIf="
                    delivery.deliveryOption === 'PICKUP_POINT' &&
                    selectedDeliveryOption === 'PICKUP_POINT' &&
                    !selectedPickupPoint
                  "
                  class="mt-3"
                >
                  <button
                    type="button"
                    class="btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#pickupPointModal"
                    (click)="showPickupPoints()"
                  >
                    Choisir un point relais
                  </button>
                </div>

                <!-- Affichage du point relais sélectionné -->
                <div
                  *ngIf="
                    delivery.deliveryOption === 'PICKUP_POINT' &&
                    selectedPickupPoint
                  "
                  class="mt-3"
                >
                  <p>{{ selectedPickupPoint.pickupPointName }}</p>
                  <p>{{ selectedPickupPoint.pickupPointAddress }}</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Colonne de droite : Récapitulatif de la commande -->
    <div class="col-md-4">
      <!-- Carte récapitulatif -->
      <div class="card rounded summary-card">
        <div class="card-body">
          <h3 class="card-title">Récapitulatif de la Commande</h3>
          <div class="summary-item">
            <p>
              Total : <span>{{ cartTotal | number : ".2-2" }} €</span>
            </p>
            <p>Frais de livraison : {{ deliveryCost }} €</p>
            <p>Total à payer : {{ total }} €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
