<div class="user-list">
  <h2>Liste des utilisateurs</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Rôles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>
          <button (click)="deleteUser(user.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
