.payment-container {
  margin-top: 20px;
  padding: 0 10px;
}
.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-options .form-check-input {
  transition: all 0.3s ease;
}
.payment-options .form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
  outline: none;
}
.payment-options .form-check-input:checked:focus {
  box-shadow: 0 0 0 0.25rem var(--main-color);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
/* Champs du formulaire de paiement */
.card-element {
  width: 100%;
  max-width: 350px;
  padding: 12px;
  margin: 10px 0;
  border-bottom: 1px solid rgb(186, 183, 183);
  border-radius: 5px;
}
.card-element:focus {
  border-bottom: 1px solid var(--main-color);
  outline: none;
  box-shadow: none;
}
.card-element.error {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}
.card.my-5 {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-container button {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  padding: 10px;
}
/* Style général des boutons radio */
.form-check-input {
  transition: all 0.3s ease;
}
/* Effet lorsque les boutons radio sont cochés */
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
  outline: none;
}
.form-check-input:checked:focus {
  box-shadow: 0 0 0 0.25rem var(--main-color);
}
.message-success {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 15px 30px;
  font-size: 18px;
  color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media (max-width: 768px) {
  .payment-options {
    flex-direction: column;
  }
  .payment-container {
    padding: 0 15px;
  }
  .button-container button {
    width: 100%;
  }
  .card-element {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 480px) {
  .payment-container {
    padding: 0 10px;
  }
  .payment-options label {
    font-size: 14px;
  }
  .message-success {
    font-size: 16px;
    padding: 10px 20px;
  }
}
