<div class="payment-container">
  <div class="payment-options">
    <label class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="payment"
        value="CREDIT_CARD"
        (change)="onPaymentMethodChange('CREDIT_CARD')"
      />
      Carte Bancaire
    </label>
    <label class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="payment"
        value="PAYPAL"
        (change)="onPaymentMethodChange('PAYPAL')"
      />
      PayPal
    </label>
  </div>

  <!-- Formulaire Stripe Elements -->
  <div
    class="card my-5 rounded"
    *ngIf="selectedPaymentMethod === 'CREDIT_CARD'"
  >
    <div id="card-number" class="card-element"></div>
    <div id="card-expiry" class="card-element"></div>
    <div id="card-cvc" class="card-element"></div>
    <div id="card-name" class="card-element">
      {{ userLastName }} {{ userFirstName }}
    </div>

    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>

    <div class="button-container">
      <button
        class="btn-primary"
        (click)="submitPayment()"
        [disabled]="isPaymentLoading"
      >
        {{ isPaymentLoading ? "Traitement..." : "Payer" }}
      </button>
    </div>
  </div>
</div>
