.payment-container {
  margin-top: 20px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-element {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
}
.card-element.error {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}
