<div>
  <img
    src="/assets/bannerHair.png"
    alt="Description de l'image"
    class="img-fluid banner-image"
  />
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Produits pour les cheveux</h2>
    </div>
  </div>

  <div class="row gy-4">
    <div
      *ngFor="let product of products$ | async"
      class="col-12 col-sm-6 col-lg-3 d-flex align-items-stretch"
    >
      <div class="card mb-4 d-flex flex-column h-100">
        <div class="position-relative">
          <a
            class="productDetails"
            [routerLink]="['/productDetails', product.id]"
          >
            <img
              [src]="product.image"
              class="product-image card-img-top"
              alt="{{ product.name }}"
            />
          </a>
        </div>

        <div class="card-body d-flex flex-column">
          <span
            class="heart-icon"
            [class.favorite]="product.isFavorite"
            (click)="handleFavoriteClick(product)"
          >
            &#x2764;
          </span>

          <h5 class="card-title">{{ product.name }}</h5>

          <div
            *ngIf="
              productTypeService.isHairProduct(product) &&
              product.volumes.length > 0
            "
          >
            <p class="card-text">
              {{ product.volumes[0].volume }} ml -
              {{ product.volumes[0].price }} €
            </p>
          </div>

          <a
            [routerLink]="['/productDetails', product.id]"
            class="btn-primary btnProductDetail mt-auto"
          >
            Voir les détails
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination -->
<div class="d-flex justify-content-center align-items-center gap-3 mt-3">
  <button
    class="btn btn-light"
    (click)="previousPage()"
    [disabled]="currentPage === 0"
  >
    <mat-icon>navigate_before</mat-icon>
  </button>
  <span>Page {{ currentPage + 1 }} sur {{ totalPages }}</span>
  <button
    class="btn btn-light"
    (click)="nextPage()"
    [disabled]="currentPage >= totalPages - 1"
  >
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
