<div>
  <img
    src="/assets/bannerHome.png"
    alt="Description de l'image"
    class="img-fluid w-100"
  />
</div>

<!-- Section À Propos -->
<div class="container mt-5 py-5">
  <div class="row align-items-center">
    <div class="col-md-5 text-center">
      <img
        src="/assets/apropos.webp"
        alt="ETHEREA - Produits naturels"
        class="img-fluid w-27 rounded shadow mb-4 mb-md-0"
      />
    </div>
    <div class="col-md-7 ps-md-5">
      <h2 class="fw-500">À propos d'ETHEREA</h2>
      <p class="text-muted">
        ETHEREA est votre destination pour des produits naturels conçus pour le
        bien-être de votre peau et de vos cheveux. Découvrez notre engagement
        envers la qualité et la nature.
      </p>
      <a routerLink="/brand" class="btn btn-primary">En savoir plus...</a>
    </div>
  </div>
</div>

<!-- section avec les catégories -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Découvrez nos catégories de produits</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a routerLink="/cream" class="category-link">
        <img
          src="/assets/cream.png"
          class="category-img rounded-circle shadow"
          alt="Face Care"
        />
        <h3 class="mt-3">Soins Visage</h3>
      </a>
    </div>
    <div class="col-md-4">
      <a routerLink="/hair" class="category-link">
        <img
          src="/assets/hair.png"
          class="category-img rounded-circle shadow"
          alt="Hair Care"
        />
        <h3 class="mt-3">Soins Cheveux</h3>
      </a>
    </div>
    <div class="col-md-4">
      <a routerLink="/new" class="category-link">
        <img
          src="/assets/new.png"
          class="category-img rounded-circle shadow"
          alt="News"
        />
        <h3 class="mt-3">Nouveautés</h3>
      </a>
    </div>
  </div>
</div>
<!-- Section Notre Histoire -->
<div class="container mt-5 py-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h2 class="fw-500">Notre Histoire</h2>
      <p class="text-muted">
        Découvrez l'origine et la passion derrière ETHEREA, une marque dédiée
        aux soins naturels et au bien-être.
      </p>
      <a routerLink="/story" class="btn btn-primary">
        Découvrir notre histoire
      </a>
    </div>
    <div class="col-md-6 text-center">
      <img
        src="/assets/story (2).webp"
        alt="Notre Histoire"
        class="img-fluid rounded shadow"
      />
    </div>
  </div>
</div>
<!-- Section Best Sellers -->
<!-- Section Best Sellers -->
<div class="container best-sellers mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Nos Best Sellers</h2>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let product of (products$ | async)?.slice(0, 4)"
      class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-stretch"
    >
      <div class="card mb-4 d-flex flex-column">
        <div class="position-relative">
          <a
            class="productDetails"
            [routerLink]="['/productDetails', product.id]"
          >
            <img
              [src]="product.image"
              class="product-image card-img-top"
              alt="{{ product.name }}"
            />
          </a>
        </div>

        <div class="card-body d-flex flex-column">
          <span
            class="heart-icon"
            [class.favorite]="product.isFavorite"
            (click)="handleFavoriteClick(product)"
          >
            &#x2764;
          </span>
          <h5 [routerLink]="['/productDetails', product.id]" class="card-title">
            {{ product.name }}
          </h5>

          <div *ngIf="productTypeService.isHairProduct(product)">
            <p class="card-text">
              {{ product.volumes[0].volume }} ml -
              {{ product.volumes[0].price }} €
            </p>
          </div>

          <div *ngIf="productTypeService.isFaceProduct(product)">
            <p class="card-text">Prix : {{ product.basePrice }} €</p>
          </div>

          <a
            [routerLink]="['/productDetails', product.id]"
            class="btn-primary btnProductDetail"
          >
            Voir les détails
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section Nos Conseils -->
<div class="container mt-5 py-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Nos Conseils</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a routerLink="/tips/hydration">
        <div class="advice-card shadow p-4 rounded">
          <img
            src="/assets/moisturizing-facial.jpg"
            class="advice-img mb-3"
            alt="Conseil 1"
          />

          <h4>Hydratation quotidienne</h4>
          <p>
            Adoptez une routine hydratante adaptée à votre type de peau pour un
            teint éclatant.
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a routerLink="/tips/capillary-care">
        <div class="advice-card shadow p-4 rounded">
          <img
            src="/assets/capillary-hair.webp"
            class="advice-img mb-3"
            alt="Conseil 2"
          />
          <h4>Soins capillaires naturels</h4>
          <p>
            Utilisez des huiles végétales pour nourrir vos cheveux en
            profondeur.
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a routerLink="/tips/solar-protection">
        <div class="advice-card shadow p-4 rounded">
          <img
            src="/assets/solar.jpg"
            class="advice-img mb-3"
            alt="Conseil 3"
          />
          <h4>Protection solaire</h4>
          <p>
            Protégez votre peau avec des soins SPF pour prévenir le
            vieillissement cutané.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
