<div>
  <img
    src="/assets/bannerHome.png"
    alt="Description de l'image"
    class="img-fluid w-100"
  />
</div>

<!-- About us section -->
<div class="container mt-5 py-5">
  <div class="row align-items-center">
    <div class="col-md-5 text-center">
      <img
        src="/assets/about.webp"
        alt="ETHEREA - Produits naturels"
        class="img-fluid w-27 rounded shadow mb-4 mb-md-0"
      />
    </div>
    <div class="col-md-7 ps-md-5">
      <h2 class="fw-500">À propos d'ETHEREA</h2>
      <p class="text-muted">
        ETHEREA est une invitation à redécouvrir la beauté au naturel. Nous vous
        proposons des soins authentiques, formulés avec des ingrédients
        d'origine naturelle, pour sublimer votre peau et vos cheveux en douceur.
        Laissez-vous séduire par notre engagement envers la qualité, la pureté
        et le respect de la nature.
      </p>
      <a routerLink="/brand" class="btn btn-primary">En savoir plus...</a>
    </div>
  </div>
</div>

<!-- section with categories -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Découvrez nos catégories de produits</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a routerLink="/cream" class="category-link">
        <img
          src="/assets/face.png"
          class="category-img rounded-circle shadow"
          alt="Face Care"
        />
        <h3 class="mt-3">Soins Visage</h3>
      </a>
    </div>
    <div class="col-md-4">
      <a routerLink="/hair" class="category-link">
        <img
          src="/assets/hair.png"
          class="category-img rounded-circle shadow"
          alt="Hair Care"
        />
        <h3 class="mt-3">Soins Cheveux</h3>
      </a>
    </div>
    <div class="col-md-4">
      <a routerLink="/new" class="category-link">
        <img
          src="/assets/new.png"
          class="category-img rounded-circle shadow"
          alt="News"
        />
        <h3 class="mt-3">Nouveautés</h3>
      </a>
    </div>
  </div>
</div>
<!-- Our History section -->
<div class="container mt-5 py-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h2 class="fw-500">Notre Histoire</h2>
      <p class="text-muted">
        Découvrez l'origine et la passion derrière ETHEREA, une marque dédiée
        aux soins naturels et au bien-être.
      </p>
      <a routerLink="/story" class="btn btn-primary">
        Découvrir notre histoire
      </a>
    </div>
    <div class="col-md-6 text-center">
      <img
        src="/assets/story.webp"
        alt="Notre Histoire"
        class="img-fluid rounded shadow"
      />
    </div>
  </div>
</div>
<!-- Best Sellers section -->
<div class="container best-sellers mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Nos Best Sellers</h2>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let product of (products$ | async)?.slice(0, 4)"
      class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-stretch"
    >
      <div class="card mb-4 d-flex flex-column">
        <div class="position-relative">
          <a
            class="productDetails"
            [routerLink]="['/productDetails', product.id]"
          >
            <img
              [src]="product.image"
              class="product-image card-img-top"
              alt="{{ product.name }}"
            />
          </a>
        </div>

        <div class="card-body d-flex flex-column">
          <span
            class="heart-icon"
            [class.favorite]="product.isFavorite"
            (click)="handleFavoriteClick(product)"
          >
            &#x2764;
          </span>
          <h5 [routerLink]="['/productDetails', product.id]" class="card-title">
            {{ product.name }}
          </h5>

          <div *ngIf="productTypeService.isHairProduct(product)">
            <p class="card-text">
              {{ product.volumes[0].volume }} ml -
              {{ product.volumes[0].price }} €
            </p>
          </div>

          <div *ngIf="productTypeService.isFaceProduct(product)">
            <p class="card-text">Prix : {{ product.basePrice }} €</p>
          </div>

          <a
            [routerLink]="['/productDetails', product.id]"
            class="btn-primary btnProductDetail"
          >
            Voir les détails
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our Tips section -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="">Nos Conseils</h2>
    </div>
  </div>

  <!-- Display 3 tips without breadcrumb or pagination -->
  <app-tips
    [limit]="3"
    [showPagination]="false"
    [showBreadcrumb]="false"
  ></app-tips>
</div>
