.container {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

h2 {
  color: #333;
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.text-muted {
  width: 90%;
  gap: 10px;
  text-align: justify;
}
.container.best-sellers h2 {
  margin-bottom: 50px;
}

.container.best-sellers .text-muted {
  margin-bottom: 40px;
}

.category-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 45px;
  transition: transform 0.3s ease-in-out;
}

.category-img:hover {
  transform: scale(1.1) rotate(5deg);
}

.btn {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: var(--main-color);
  border-radius: 5px;
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: var(--text-color);
  border: 0.1rem solid var(--main-color);
}
.category-link {
  text-decoration: none;
}

.category-link h3 {
  color: black;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.category-link :hover {
  color: darkgreen !important;
  text-decoration: none;
}
/* Section Nos Conseils */
a {
  text-decoration: none;
  color: black;
}
.advice-card {
  background: #f8f9fa;
  transition: transform 0.3s ease-in-out;
}

.advice-card:hover {
  transform: scale(1.05);
}

.advice-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .category-img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .col-md-6 img {
    max-width: 100%;
    height: auto;
  }

  .row.align-items-center {
    text-align: center;
  }
}
