/* Style de base pour le menu */
.admin-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Couleur de fond du menu */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  padding: 12px 24px; /* Espacement intérieur */

  /* Ajout du logo Etherea à gauche */
  .logo {
    font-size: 1rem;
    font-weight: bold;
    color: #333333; /* Couleur du logo */
  }
}
.logo {
  width: 80%;
  cursor: pointer;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #333333; /* Couleur du texte des liens */
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: color 0.3s ease; /* Animation de transition pour le texte */
}

.menu a:hover {
  color: darkgreen;
}

/* Bouton hamburger */
.menu-toggle {
  display: none; /* Caché par défaut sur les grands écrans */
  cursor: pointer;
}

.menu-toggle.active {
  transform: rotate(45deg); /* Transformation en croix */
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333333; /* Couleur des barres du hamburger */
  margin-bottom: 5px; /* Espacement entre les barres */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Media Queries pour la responsivité */

@media (max-width: 768px) {
  .admin-menu {
    padding: 12px; /* Réduction de l'espacement pour les petits écrans */
  }

  .menu {
    flex-direction: column;
    width: 100%;
    display: none; /* Caché par défaut sur les petits écrans */
  }

  .menu.active {
    display: flex; /* Affichage du menu actif */
  }

  .menu li {
    margin: 10px 0; /* Espacement entre les éléments du menu */
  }

  .menu a {
    padding: 8px; /* Réduction du padding des liens */
  }

  .menu-toggle {
    display: flex; /* Affichage du bouton hamburger */
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none; /* Caché sur les grands écrans */
  }
}

@media (max-width: 480px) {
  .admin-menu {
    padding: 8px; /* Ajustement de l'espacement pour les très petits écrans */
  }

  .menu a {
    padding: 8px; /* Ajustement du padding des liens */
  }
}
