<nav class="admin-menu">
  <a class="navbar-brand">
    <img class="logo" src="/assets/logo.png" alt="logo" />
  </a>

  <div
    class="menu-toggle"
    (click)="toggleMenu()"
    [class.active]="isMenuActive"
    role="button"
    aria-label="Toggle menu"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="menu" [class.active]="isMenuActive">
    <li>
      <a routerLink="/admin/admin-users" routerLinkActive="active"
        >Utilisateurs</a
      >
    </li>
    <li>
      <a routerLink="/admin/admin-products" routerLinkActive="active"
        >Produits</a
      >
    </li>
    <li>
      <a routerLink="/admin/admin-volumes" routerLinkActive="active">Volumes</a>
    </li>
    <li>
      <a routerLink="/admin/admin-orders" routerLinkActive="active"
        >Commandes</a
      >
    </li>
    <li>
      <a routerLink="/admin/admin-tips" routerLinkActive="active">Conseils</a>
    </li>
    <li>
      <a routerLink="/admin/admin-news-letter" routerLinkActive="active"
        >Newsletter</a
      >
    </li>
    <li class="go-to-site">
      <button (click)="goToSite()">Retour au site</button>
    </li>
  </ul>
</nav>
