/* admin-menu.component.scss */

/* Style de base pour le menu */
.admin-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Cacher le menu burger sur les grands écrans (écrans de bureau) */
.menu-toggle {
  display: block; /* Affiché par défaut sur petit écran */
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle span {
  width: 100%;
  height: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Lorsque l'écran est inférieur à 768px, on affiche le hamburger */
@media (max-width: 768px) {
  .menu {
    display: none; /* Cacher le menu sur petits écrans */
    flex-direction: column;
    width: 100%;
  }

  .menu.active {
    display: flex; /* Afficher le menu si la classe 'active' est ajoutée */
  }

  .menu li {
    margin: 10px 0;
  }

  /* Afficher le bouton hamburger uniquement sur petit écran */
  .menu-toggle {
    display: block;
  }

  /* Transformation de l'icône hamburger en croix */
  .menu-toggle span:first-child {
    transform: rotate(45deg);
  }

  .menu-toggle span:nth-child(2) {
    opacity: 0; /* Masquer la barre du milieu */
  }

  .menu-toggle span:last-child {
    transform: rotate(
      -45deg
    ); /* Rotation de la dernière barre pour former une croix */
  }
}

/* Sur les écrans plus grands (comme sur les écrans de bureau) */
@media (min-width: 769px) {
  .menu-toggle {
    display: none; /* Masquer l'icône hamburger sur les grands écrans */
  }

  .menu {
    display: flex; /* Afficher le menu horizontalement */
  }

  .menu li {
    margin: 0 15px; /* Espacement entre les éléments du menu */
  }
}

/* Pour les très petits écrans comme les téléphones portables */
@media (max-width: 480px) {
  .admin-menu {
    padding: 8px;
  }

  .menu a {
    padding: 8px;
  }
}
