<div class="container mt-5 py-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Nos Conseils</h2>
      <p class="text-muted">
        Découvrez nos astuces et conseils pour prendre soin de votre peau et de
        vos cheveux naturellement.
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="advice-card shadow p-4 rounded">
        <a routerLink="/tips/hydration">
          <img
            src="/assets/conseil1.jpg"
            class="advice-img mb-3"
            alt="Conseil 1"
          />
        </a>
        <h4>Hydratation quotidienne</h4>
        <p>
          Adoptez une routine hydratante adaptée à votre type de peau pour un
          teint éclatant.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="advice-card shadow p-4 rounded">
        <a routerLink="/tips/capillary-care">
          <img
            src="/assets/conseil2.jpg"
            class="advice-img mb-3"
            alt="Conseil 2"
          />
        </a>
        <h4>Soins capillaires naturels</h4>
        <p>
          Utilisez des huiles végétales pour nourrir vos cheveux en profondeur.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="advice-card shadow p-4 rounded">
        <a routerLink="/tips/solar-protection">
          <img
            src="/assets/conseil3.jpg"
            class="advice-img mb-3"
            alt="Conseil 3"
          />
        </a>
        <h4>Protection solaire</h4>
        <p>
          Protégez votre peau avec des soins SPF pour prévenir le vieillissement
          cutané.
        </p>
      </div>
    </div>
  </div>
</div>
