<div class="container mt-5" *ngIf="product">
  <div class="row">
    <!-- Image on the left -->
    <div class="col-md-6">
      <img [src]="product.image" class="img-fluid image" [alt]="product.name" />
    </div>
    <!-- Product details on the right -->
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p>Description : {{ product.description }}</p>
      <p>Quantité : {{ product.quantity }}</p>
      <p>Prix : {{ product.price }} €</p>
      <p>Stock disponible : {{ product.stockAvailable }}</p>
    </div>
  </div>
  <!-- Additional product details below the image and text -->
  <div class="row">
    <div class="col-md-12">
      <p>Bénéfices : {{ product.benefits }}</p>
      <p>Conseil d'utilisation : {{ product.usageTips }}</p>
      <p>Ingredients : {{ product.ingredients }}</p>
      <p>Caractéristiques : {{ product.characteristics }}</p>
    </div>
  </div>
</div>
