.row {
  display: flex;
  align-items: center; /* Pour centrer verticalement les éléments de la ligne */
}

.image {
  width: 50%;
  display: block; /* Pour s'assurer que l'image est affichée comme un bloc */
  margin: 0 auto; /* Pour centrer l'image horizontalement */
}
.logo {
  width: 13%;
}
.quantity-selector {
  display: flex;
  align-items: center;
}
.description {
  font-size: 16px;
  font-weight: 600;
}
.quantity-btn {
  border: 1px solid black;
  font-size: 25px;
  padding: 5px 10px;
  margin: 0 20px;
  cursor: pointer;
}
.quantity-btn:hover {
  background-color: #bcdbb3;
}
.selected-quantity {
  font-size: 18px;
  margin: 0 5px;
}
.btn-primary {
  display: block;
  margin-top: 40px;
}
.product {
  white-space: pre-line; /* Permet d'afficher les sauts de ligne */
  width: 48%;
  margin-top: 15px;

  text-align: justify;
}

.detail {
  margin: 10px;
  padding-top: 8px;
}

details {
  font-size: 15px;
  padding: 10px;
}
.characteristics + p {
  margin-top: 15px;
  white-space: pre-line; /* Permet d'afficher les sauts de ligne */
}
.characteristics::first-word,
.ingredients::first-word {
  font-weight: bold;
}
