.container {
  margin-top: 5rem;
  padding: 0 15px;
}

.image {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.description {
  font-size: 18px;
  font-weight: 600;
}

.custom-select-container {
  width: 100%;
  max-width: 300px;
}

.custom-select {
  width: 100%;
}

.alert-success {
  color: green;
}

.alert-danger {
  color: red;
}

.stock-message {
  font-size: 14px;
  font-weight: 400;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantity-selector {
  display: flex;
  align-items: center;
}

.quantity-btn {
  border: 1px solid var(--main-color);
  font-size: 20px;
  color: var(--bg-color);
  padding: 5px 10px;
  cursor: pointer;
  background: white;
}

.selected-quantity {
  font-size: 15px;
  margin: 0 10px;
}

.btnCart {
  padding: 10px;
  font-size: 16px;
  min-width: 300px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  transition: 0.5s;
  display: block;
  margin-top: 15px;
  align-self: flex-start;
}

.btnCart:disabled {
  background-color: rgb(234, 227, 227);
  cursor: not-allowed;
}

.btnCart:hover {
  color: var(--main-color);
  background: var(--text-color);
  border: 0.1rem solid var(--main-color);
}

.product {
  text-align: justify;
}

.product {
  white-space: pre-line;
  width: 50%;
  margin-top: 15px;
  text-align: justify;
}

details {
  font-size: 15px;
  padding: 10px;
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .product-details {
    order: 1;
  }

  .btnCart {
    order: 99;
    width: 100%;
    margin-top: 15px;
  }

  .image {
    max-width: 300px;
  }

  details {
    width: 100%;
  }
}
