.image {
  width: 20%;
}
.quantity-selector {
  display: flex;
  align-items: center;
}

.quantity-btn {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.selected-quantity {
  font-size: 18px;
  margin: 0 5px;
}
