<div class="container mt-5" *ngIf="product">
  <div class="row">
    <!-- Image on the left -->
    <div class="col-md-6">
      <img [src]="product.image" class="img-fluid image" [alt]="product.name" />
    </div>

    <!-- Product details on the right -->
    <div class="col-md-6">
      <img class="logo" src="/assets/logo.png" alt="banner" />

      <!-- Volume selection - Only for HAIR products -->
      <div *ngIf="product.type === 'HAIR' && product.volumes?.length">
        <label for="volumeSelect">Volume :</label>
        <select
          id="volumeSelect"
          (change)="onVolumeChange($event)"
          class="form-control"
        >
          <option
            *ngFor="let volume of product.volumes"
            [value]="volume.volume"
          >
            {{ volume.volume }} ml - {{ volume.price }} €
          </option>
        </select>
      </div>

      <!-- Price Display for selected volume (HAIR) or basePrice (FACE) -->
      <p *ngIf="product.type === 'HAIR' && selectedVolume" class="detail">
        Prix : {{ selectedVolume.price }} €
      </p>
      <p *ngIf="product.type === 'FACE'" class="detail">
        Prix : {{ product.basePrice }} €
      </p>

      <!-- Stock status -->
      <p
        class="detail"
        [ngClass]="{
          'stock-available': product.stockStatus === 'AVAILABLE',
          'stock-out-of-stock': product.stockStatus === 'OUT_OF_STOCK'
        }"
      >
        {{ stockMessage }}
      </p>

      <!-- Quantity selection -->
      <label class="detail" for="quantityInput">Quantité :</label>
      <div *ngIf="limitReached" class="alert alert-warning">
        La limite de 10 produits a été atteinte.
      </div>
      <div class="quantity-selector" style="display: inline-flex">
        <button class="quantity-btn" (click)="decrementQuantity()">-</button>
        <span>{{ cartItems.quantity }}</span>
        <button class="quantity-btn" (click)="incrementQuantity()">+</button>
      </div>

      <!-- Add to cart button -->
      <button class="btn-primary" (click)="addToCart()">
        Ajouter au panier
      </button>
    </div>

    <!-- Additional product details below the image and text -->
    <div class="row">
      <div class="col-md-12">
        <details>
          <summary>Bénéfices</summary>
          <p class="product">{{ product.benefits }}</p>
        </details>
        <details>
          <summary>Conseil d'utilisation</summary>
          <p class="product">{{ product.usageTips }}</p>
        </details>
        <details>
          <summary>Ingrédients principaux</summary>
          <p class="product ingredients">{{ product.ingredients }}</p>
        </details>
        <details>
          <summary class="characteristics">Caractéristiques</summary>
          <p>{{ product.characteristics }}</p>
        </details>
      </div>
    </div>
  </div>
</div>
