<div class="container mt-5">
  <div class="row mb-3 d-flex justify-content-between align-items-center">
    <div class="col-auto">
      <h2>Gestion des volumes</h2>
    </div>
    <div class="col-auto">
      <button class="btn-primary" [routerLink]="['/admin', 'add-volume']">
        Ajouter un volume
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nom du produit</th>
              <th scope="col">Volume</th>
              <th scope="col">Prix</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let volume of volumes">
              <td>{{ volume.id }}</td>
              <td>{{ volume.productName }}</td>
              <td>{{ volume.volume }}</td>
              <td>{{ volume.price }}</td>
              <td>
                <div class="d-flex justify-content-center gap-2">
                  <button
                    class="btn btn-warning btn-sm custom-btn"
                    [routerLink]="['/admin', 'update-volume']"
                  >
                    Modifier
                  </button>
                  <button
                    class="btn btn-danger btn-sm custom-btn"
                    (click)="deleteVolume(volume.id)"
                  >
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
