<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">
        Réinitialisation du mot de passe
      </h2>

      <div class="card my-5 rounded">
        <div *ngIf="message" class="alert alert-info text-center">
          {{ message }}
        </div>

        <form
          [formGroup]="resetForm"
          class="card-body cardbody-color p-lg-5"
          (ngSubmit)="onSubmit()"
        >
          <!-- Nouveau mot de passe -->
          <div class="mb-3">
            <input
              type="password"
              formControlName="newPassword"
              class="form-control"
              placeholder="Nouveau mot de passe"
            />
            <div
              *ngIf="
                resetForm.get('newPassword')?.touched &&
                resetForm.get('newPassword')?.invalid
              "
            >
              <small
                *ngIf="resetForm.get('newPassword')?.hasError('required')"
                class="error-message"
              >
                Le mot de passe est requis.
              </small>
              <small
                *ngIf="resetForm.get('newPassword')?.hasError('minlength')"
                class="error-message"
              >
                Le mot de passe doit contenir au moins 8 caractères.
              </small>
            </div>
          </div>

          <!-- Confirmer mot de passe -->
          <div class="mb-3">
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirmer le mot de passe"
            />
            <div
              *ngIf="
                resetForm.get('confirmPassword')?.touched &&
                resetForm.get('confirmPassword')?.invalid
              "
            >
              <small
                class="error-message"
                *ngIf="resetForm.get('confirmPassword')?.hasError('required')"
              >
                La confirmation est requise.
              </small>
            </div>
            <div *ngIf="!passwordsMatch()" class="error-message">
              ⚠ Les mots de passe ne correspondent pas.
            </div>
          </div>

          <!-- Bouton -->
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!resetForm.valid || !passwordsMatch()"
            >
              Réinitialiser
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
