<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10 col-12">
      <h2 class="text-center text-dark mt-5">
        Réinitialisation du mot de passe
      </h2>

      <div class="card my-5 rounded">
        <div *ngIf="message" class="alert alert-info text-center">
          {{ message }}
        </div>

        <form
          [formGroup]="resetForm"
          class="card-body cardbody-color p-lg-5 p-md-4 p-sm-3"
          (ngSubmit)="onSubmit()"
        >
          <!-- Nouveau mot de passe -->
          <div class="mb-3">
            <input
              type="password"
              formControlName="newPassword"
              class="form-control"
              placeholder="Nouveau mot de passe"
            />
            <div *ngFor="let error of errorMessages.newPassword">
              <small
                *ngIf="
                  resetForm.get('newPassword')?.hasError(error.type) &&
                  (resetForm.get('newPassword')?.dirty ||
                    resetForm.get('newPassword')?.touched)
                "
                class="error-message"
              >
                {{ error.message }}
              </small>
            </div>
          </div>

          <!-- Confirmer mot de passe -->
          <div class="mb-3">
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirmer le mot de passe"
            />
            <div *ngFor="let error of errorMessages.confirmPassword">
              <small
                *ngIf="
                  resetForm.get('confirmPassword')?.hasError(error.type) &&
                  (resetForm.get('confirmPassword')?.dirty ||
                    resetForm.get('confirmPassword')?.touched)
                "
                class="error-message"
              >
                {{ error.message }}
              </small>
            </div>
            <div *ngIf="!passwordsMatch()" class="error-message">
              Les mots de passe ne correspondent pas.
            </div>
          </div>

          <!-- Bouton -->
          <div class="text-center">
            <button
              type="submit"
              class="btn-primary w-100"
              [disabled]="!resetForm.valid || !passwordsMatch()"
            >
              Réinitialiser
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
