.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.return-link {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}

.return-link:hover {
  text-decoration: underline;
}

.current-page {
  color: black;
  margin-left: 5px;
}

.faq-answer {
  white-space: pre-line;
}
.active {
  border: 2px solid darkgreen;
}
