<!-- product-summary.component.html -->
<div class="modal-container">
  <div class="modal-header">
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
  </div>

  <div class="modal-content">
    <div class="image-container">
      <img
        *ngIf="data.product.image"
        [src]="data.product.image"
        alt="Image du produit"
        class="product-image"
      />
    </div>

    <div class="text-and-buttons-container">
      <div class="text-container">
        <h2>{{ data.product.name }}</h2>
        <p>{{ data.cart.selectedVolume?.volume }} ml</p>
        <p
          *ngIf="
            data.product.type === ProductType.HAIR && data.cart.selectedVolume
          "
        ></p>
        <p
          *ngIf="
            data.product &&
            data.product.type === ProductType.HAIR &&
            data.cart?.selectedVolume
          "
        >
          Prix: {{ data.cart.selectedVolume?.price | number : ".2-2" }} €
        </p>
        <p *ngIf="data.product && data.product.type === ProductType.FACE">
          Prix: {{ data.product.basePrice | number : ".2-2" }} €
        </p>

        <p>Quantité: {{ data.quantity }}</p>
        <p>Sous-total: {{ data.subTotal | number : ".2-2" }} €</p>
      </div>

      <div class="modal-buttons">
        <button class="btn-primary" (click)="goToShopping(data.product.id)">
          Continuer les achats
        </button>
        <button class="btn-primary" (click)="goToCart()">Voir le panier</button>
      </div>
    </div>
  </div>
</div>
