<div class="container mt-4 px-3 px-md-5">
  <h1>Politique en matière de cookies</h1>
  <p>
    Cette Politique relative aux cookies a pour objectif de vous aider à
    comprendre comment Etherea, en sa qualité de responsable du traitement de
    vos données personnelles, utilise les cookies sur son site internet (le «
    Site »).
  </p>

  <h2>Qu'est-ce qu'un cookie ?</h2>
  <p>
    Les cookies sont des petits fichiers textes qui peuvent être utilisés par le
    Site pour vous proposer une navigation simplifiée et optimale. Ils
    permettent au Site de se « souvenir » de vous lors de votre prochaine
    visite. Un cookie ne peut en aucun cas permettre à Etherea de vous
    identifier directement.
  </p>

  <h2>Quel est le fondement juridique de l'utilisation des cookies ?</h2>
  <p>
    Etherea respecte les dispositions légales et réglementaires en matière de
    cookies et de données personnelles prévues par :
  </p>
  <ul>
    <li>
      La loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
      et aux libertés.
    </li>
    <li>
      Le Règlement européen 2016/679 du 27 avril 2016 relatif à la protection
      des personnes physiques (RGPD).
    </li>
    <li>
      La Directive 2002/58/CE du Parlement européen concernant la protection de
      la vie privée dans le secteur des communications électroniques.
    </li>
  </ul>
  <p>
    Nous pouvons stocker des cookies nécessaires au fonctionnement du Site sans
    votre consentement. Pour tous les autres types de cookies, votre
    consentement est requis.
  </p>

  <h2>Quelles sont les catégories de cookies utilisés sur le Site ?</h2>

  <h3>1. Les cookies strictement nécessaires</h3>
  <p>
    Ces cookies permettent l'utilisation des principales fonctionnalités du
    Site. Ils ne nécessitent pas votre consentement préalable.
  </p>

  <h3>2. Les cookies de performance</h3>
  <p>
    Ils mesurent l'audience et permettent d'améliorer l'ergonomie et les
    performances du Site. Votre consentement est requis.
  </p>
  <ul>
    <li>
      <strong>GOOGLE ADS</strong> : Mesure l'efficacité des campagnes
      sponsorisées.
    </li>
    <li><strong>GOOGLE ANALYTICS 4</strong> : Aide à mesurer l'audience.</li>
    <li><strong>CLARITY</strong> : Identifie des problèmes sur le site.</li>
    <li><strong>SENTRY</strong> : Détecte les problèmes de conception.</li>
    <li><strong>SPEED CURVE</strong> : Assure la sécurité et la stabilité.</li>
  </ul>

  <h3>3. Les cookies publicitaires</h3>
  <p>
    Ils permettent d'adapter les publicités en fonction de vos habitudes de
    navigation.
  </p>
  <ul>
    <li>
      <strong>FACEBOOK PIXEL</strong> : Identifie les visiteurs de Facebook.
    </li>
    <li><strong>TIKTOK</strong> : Identifie les visiteurs de TikTok.</li>
    <li>
      <strong>AFFILAE</strong> : Identifie les visiteurs de liens affiliés.
    </li>
    <li><strong>GOOGLE ADS</strong> : Mesure l'efficacité des campagnes.</li>
    <li><strong>BING</strong> : Réseau de publicité.</li>
    <li><strong>SNAP PIXEL</strong> : Identifie les visiteurs de Snapchat.</li>
    <li><strong>PINTEREST</strong> : Identifie les visiteurs de Pinterest.</li>
  </ul>

  <h3>4. Les cookies de personnalisation</h3>
  <p>Ces cookies permettent d'afficher des recommandations personnalisées.</p>
  <ul>
    <li><strong>ATTRAQT</strong> : Améliore l'expérience utilisateur.</li>
    <li><strong>KLAVIYO</strong> : Email et automatisation du marketing.</li>
    <li><strong>KAMELEOON</strong> : Personnalisation du site.</li>
    <li>
      <strong>A/B TASTY</strong> : Optimisation de l'expérience utilisateur.
    </li>
    <li>
      <strong>IADVIZE</strong> : Communication en temps réel avec les
      utilisateurs.
    </li>
  </ul>

  <h2>Quelle est la durée de validité de votre consentement ?</h2>
  <p>
    Vous pouvez modifier ou retirer votre consentement en cliquant en bas de
    page sur « Modifier mes cookies ».
  </p>
  <p>
    Votre préférence pour les cookies publicitaires et de personnalisation sera
    mémorisée pendant 6 mois. Passé ce délai, il vous sera à nouveau demandé
    votre consentement.
  </p>

  <h2>Quelle est la durée de vie d'un cookie ?</h2>
  <p>
    Chaque cookie a une durée de vie spécifique. La durée maximale de
    conservation est de 12 mois.
  </p>

  <h2>Pour quelles finalités nos cookies sont-ils déposés ?</h2>
  <p>
    Les informations collectées sont à l'usage exclusif d'Etherea ou de ses
    prestataires techniques et ne sont jamais cédées à des tiers.
  </p>

  <h2>Quels sont vos droits ?</h2>
  <ul>
    <li>
      <strong>Droit d’accès</strong> : Obtenir une copie de vos données
      personnelles.
    </li>
    <li>
      <strong>Droit de rectification</strong> : Modifier des données inexactes.
    </li>
    <li><strong>Droit de retrait du consentement et d'effacement</strong>.</li>
    <li>
      <strong>Droit de limitation et d'opposition</strong> au traitement des
      données.
    </li>
  </ul>
  <p>Pour exercer vos droits :</p>
  <ul>
    <li>
      <strong>Par courrier :</strong> Etherea, 10 Avenue des Lumières - 68100
      Mulhouse - France.
    </li>
    <li><strong>Par email :</strong>etherea.com</li>
  </ul>
  <p>Vous pouvez aussi introduire une réclamation auprès de la CNIL.</p>

  <h2>Modification de la politique cookies</h2>
  <p>
    Cette politique peut être modifiée ou actualisée à tout moment. La version
    publiée sur le site prévaut sur toute version antérieure.
  </p>
  <p>Dernière mise à jour : <strong>09-03-2025</strong></p>

  <div>
    <a class="btn btn-link p-0" (click)="showCookiePopup()"
      >Modifier mes cookies</a
    >
  </div>

  <app-cookie-popup></app-cookie-popup>
</div>
