<div class="container py-5">
  <h1 class="text-center mb-4">Notre Histoire</h1>

  <div class="row align-items-center mb-4">
    <div class="col-md-6 mb-3">
      <img
        src="/assets/atelier.webp"
        class="img-fluid rounded shadow"
        alt="Atelier Etherea"
      />
    </div>
    <div class="col-md-6">
      <h2>La Naissance d'Etherea : L'Alchimie de la Nature et de la Science</h2>
      <p>
        Tout a commencé dans un petit atelier niché au cœur de la Provence, où
        l'amour des plantes et la quête d'un soin authentique ont donné
        naissance à Etherea. En explorant l'aromathérapie et la phytothérapie,
        nous avons découvert le pouvoir des huiles végétales et des extraits
        botaniques, ouvrant la voie à une approche naturelle du bien-être.
      </p>
    </div>
  </div>

  <div class="row align-items-center flex-md-row-reverse mb-4">
    <div class="col-md-6 mb-3">
      <img
        src="/assets/sss.webp"
        class="img-fluid rounded shadow"
        alt="Produits naturels Etherea"
      />
    </div>
    <div class="col-md-6">
      <h2>Des Soins Inspirés par la Nature</h2>
      <p>
        Chez Etherea, chaque produit est une invitation à un rituel de soin
        sensoriel. Nos formules sont 100% naturelles, sans parabènes, sans
        silicones et sans sulfates. Nous sélectionnons des actifs précieux comme
        les huiles d'argan, de rose musquée et de jojoba. Chaque produit est
        développé de manière artisanale, en petites quantités, avec un
        engagement éthique en privilégiant des ingrédients issus de
        l'agriculture biologique.
      </p>
    </div>
  </div>

  <div class="row align-items-center mb-4">
    <div class="col-md-6 mb-3">
      <img
        src="/assets/gggg.webp"
        class="img-fluid rounded shadow"
        alt="Engagement éthique"
      />
    </div>
    <div class="col-md-6">
      <h2>Un Engagement pour la Beauté Responsable</h2>
      <p>
        Nous croyons en une beauté qui respecte aussi bien la peau que la
        planète. Nous utilisons des ingrédients sourcés durablement auprès de
        producteurs engagés et réduisons notre impact écologique grâce à des
        emballages recyclables et réutilisables. Nos produits ne sont jamais
        testés sur les animaux, car la beauté doit être éthique. Chaque soin que
        nous créons incarne une véritable philosophie de bien-être.
      </p>
    </div>
  </div>
</div>
