<div class="container-fluid">
  <div class="row">
    <!--  Button to open mobile menu -->
    <button
      class="btn btnMenu d-md-none my-3"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#mobileSidebar"
    >
      Menu
    </button>

    <!-- Mobile sidebar -->
    <div class="offcanvas offcanvas-start d-md-none" id="mobileSidebar">
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
        ></button>
      </div>
      <div class="offcanvas-body">
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <!-- Desktop sidebar -->
    <div class="col-md-4 col-lg-3 d-none d-md-block">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content -->
    <div class="col-md-8 col-lg-9">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Mes commandes</h2>
          </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-10 col-lg-8">
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <div *ngIf="commands.length > 0">
              <div
                class="purchase-line"
                *ngFor="let command of commands"
                (click)="viewCommandDetails(command.id)"
              >
                <div class="purchase-info">
                  <!-- Line 1: reference + date -->
                  <div class="info-row">
                    <span>{{ command.referenceCode }}</span>
                    <span>{{ command.commandDate | date : "dd/MM/yyyy" }}</span>
                  </div>
                  <!-- Line 2 : status + total -->
                  <div class="info-row">
                    <span class="status">{{ command.status }}</span>
                    <span>
                      {{
                        command.total | currency : "EUR" : "symbol" : "1.2-2"
                      }}
                    </span>
                  </div>
                </div>

                <div class="arrow-icon">
                  <i class="fas fa-chevron-right"></i>
                </div>

                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
