<div *ngIf="!isCartEmpty" class="container mt-5">
  <div class="row">
    <!-- Titre du panier -->
    <h2 class="text-center text-dark">Votre Panier</h2>

    <div class="col-lg-8 col-md-12">
      <div class="card my-5 rounded">
        <div class="card-body cardbody-color p-lg-5">
          <div *ngFor="let item of cartItems" class="cart-item mb-4">
            <div class="row align-items-center item-container">
              <!-- Colonne gauche : image, nom et prix -->
              <div
                class="col-12 col-sm-6 d-flex align-items-center mb-3 mb-sm-0"
              >
                <img
                  *ngIf="item.product?.image"
                  [src]="item.product.image"
                  alt="Product Image"
                  width="60px"
                  [routerLink]="['/productDetails', item.product.id]"
                  class="product-image"
                />
                <div class="item-info ms-3">
                  <p
                    *ngIf="item.product"
                    [routerLink]="['/productDetails', item.product.id]"
                    class="product-name mb-1"
                  >
                    {{ item.product.name }}
                  </p>
                  <p
                    *ngIf="item.product?.type === 'HAIR' && item.selectedVolume"
                    class="product-volume mb-1"
                  >
                    {{ item.selectedVolume.volume }} ml
                  </p>
                  <span
                    *ngIf="productTypeService.isFaceProduct(item.product)"
                    class="product-price"
                  >
                    {{ item.product.basePrice | number : ".2-2" }} €
                  </span>
                  <span
                    *ngIf="item.product?.type === 'HAIR'"
                    class="product-price"
                  >
                    {{ item.selectedVolume?.price | number : ".2-2" }} €
                  </span>
                </div>
              </div>

              <!-- Colonne droite : boutons de quantité et sous-total -->
              <div
                class="col-12 col-sm-6 d-flex justify-content-around align-items-center"
              >
                <div class="quantity-controls me-4">
                  <button
                    class="quantity-btn btn-outline-secondary"
                    (click)="decrementQuantity(item)"
                  >
                    -
                  </button>
                  <span>{{ item.quantity }}</span>
                  <button
                    class="quantity-btn btn-outline-secondary"
                    (click)="incrementQuantity(item)"
                  >
                    +
                  </button>
                </div>

                <div class="subtotal">
                  {{ item.subTotal | number : ".2-2" }} €
                </div>

                <button
                  class="delete-btn close-button ms-5"
                  (click)="confirmDeleteItem(item.id)"
                >
                  <span class="close-icon">&#10006;</span>
                </button>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <!-- Carte de récapitulatif de la commande -->
    <div class="col-lg-4 col-md-12">
      <div class="card my-5 rounded summary-card">
        <div class="card-body p-lg-5">
          <h3 class="card-title">Récapitulatif de la Commande</h3>
          <div class="summary-item">
            Total
            <span>{{ cartTotal | number : ".2-2" }} €</span>
          </div>
          <div class="text-center">
            <button class="btn-primary btnCommand" [routerLink]="'/order'">
              Commander
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de confirmation pour la suppression -->
  <div *ngIf="showConfirmDelete" class="popup">
    <div class="popup-content">
      <div class="modal-header justify-content-end">
        <button class="close-button" (click)="cancelDelete()">
          <mat-icon aria-label="Close dialog">close</mat-icon>
        </button>
      </div>
      <p>Êtes-vous sûr de vouloir supprimer ce produit ?</p>
      <div class="btn-box">
        <button class="btn-primary" (click)="deleteItem()">Supprimer</button>
        <button class="btn-primary" (click)="cancelDelete()">Annuler</button>
      </div>
    </div>
  </div>
</div>
