.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  margin-bottom: 60px;
  text-align: center;
}

.cart-item {
  margin-bottom: 20px;
}

.product-image {
  margin-right: 10px;
}

/* Informations sur l'article */
.item-info {
  display: flex;
  flex-direction: column;
}

.product-volume,
.product-price {
  margin: 3px 0;
}

/* Contrôles de quantité et sous-total */
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Bouton de suppression */
.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.delete-btn:hover {
  color: red;
}

.close-icon {
  font-weight: normal;
  font-size: 18px;
}

/* Carte de récapitulatif */
.summary-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-card:hover {
  border-color: green;
  box-shadow: 0 0 30px rgba(0, 128, 0, 0.5);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* Boutons */
.btn {
  margin-top: 20px;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.text-center {
  text-align: center;
}

.btnCommand {
  margin-top: 3.5rem;
}

/* Popup */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 0;
  text-align: center;
  position: relative;
  max-width: 600px;
  width: 90%;
}

/* Bouton de fermeture */
.close-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}
.close-button:hover {
  color: red;
}

.close-icon {
  font-weight: normal;
  font-size: 18px;
  margin-left: 100px;
}
