<div class="container mt-5">
  <h2 class="mb-4">Panier</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
        <th scope="col">Sous-Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <!-- Afficher les détails du produit -->
          <img
            *ngIf="item.product"
            [src]="item.product.image"
            alt="Product Image"
            width="60px"
          />
          <h2 *ngIf="item.product">{{ item.product.name }}</h2>
          <p *ngIf="item.product">
            Description: {{ item.product.description }}
          </p>
        </td>
        <td>{{ item.product.price }}</td>
        <!-- Afficher le prix de l'article -->
        <td>{{ item.quantity }}</td>
        <td>{{ item.subTotal }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <!-- Afficher le total du panier -->
        <!-- <td>{{ getTotal() }}</td> -->
      </tr>
    </tfoot>
  </table>
</div>
