<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      <a [routerLink]="['/admin', 'admin-volumes']" class="return-link">
        &#8592; Liste des volumes
      </a>
      <h2 class="text-center">Ajouter un Volume</h2>

      <!-- Message de succès -->
      <div *ngIf="successMessage" class="alert alert-success floating-alert">
        {{ successMessage }}
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="id" class="form-label text-muted small"
            >ID du produit</label
          >
          <input
            type="text"
            id="id"
            class="form-control"
            [(ngModel)]="volume.productId"
            name="id"
            required
          />
        </div>

        <div class="mb-3">
          <label for="volume" class="form-label text-muted small"
            >Volume (ml)</label
          >
          <input
            type="number"
            id="volume"
            class="form-control"
            [(ngModel)]="volume.volume"
            name="volume"
            required
            min="1"
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label text-muted small"
            >Prix (€)</label
          >
          <input
            type="number"
            id="price"
            class="form-control"
            [(ngModel)]="volume.price"
            name="price"
            required
            step="0.01"
          />
        </div>

        <div class="text-center">
          <button type="submit" class="btn-primary w-100">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
