<div class="container mt-4 px-3 px-md-5">
  <h1>Conditions Générales de Vente</h1>
  <p>Version mise à jour le 22/10/2024</p>

  <div class="contact-info">
    <h2>Vous pouvez contacter notre service clients :</h2>
    <ul>
      <li>Par le biais de notre formulaire de contact (réponse sous 24h)</li>
      <li>Par téléphone : 04 13 35 50 00</li>
      <li>
        Par courrier : Etherea - 1366, Route de Gordes - 84220 Cabrières
        d'Avignon - France
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Préambule</h2>
    <p>
      Le site www.etherea.com (le « Site ») est un site d'information et de
      commerce électronique accessible par le réseau Internet, ouvert à tout
      utilisateur de ce réseau. Il est édité par la société Hyteck Etherea («
      Etherea »), SA au capital de 68.604,61 Euros, dont le siège social est
      situé au 25 rue de l'Ecole de Médecine, inscrite au Registre du Commerce
      et des Sociétés de Paris sous le numéro 334 806 502, dont le numéro de TVA
      intra-communautaire est : FR 38 334 806 502 et dont l'identifiant ADEME
      est : FR005202_01NEEB et REP EEE : FR005202_05J0FN
    </p>

    <p>
      Etherea propose à la vente à des internautes naviguant sur le Site (l' «
      Utilisateur ») un certain nombre de produits et notamment des huiles
      essentielles, ingrédients cosmétiques, cosmétiques, contenants vides et
      accessoires fabriqués par et/ou pour Etherea (les "Produits").
      L'Utilisateur ayant validé une commande sera dénommé "Client".
    </p>

    <p>
      Toute commande d'un Produit proposé sur le Site suppose la consultation
      préalable et l'acceptation expresse et sans réserve des présentes
      conditions générales de vente (les « CGV »), manifestée par le fait de
      cocher la case « Je déclare avoir pris connaissance et accepter les
      conditions générales de vente Etherea et être informé de mon droit de
      rétractation. ».
    </p>
  </div>

  <div class="section">
    <h2>ARTICLE 1 - OBJET</h2>
    <p>
      Les présentes conditions générales de vente ont pour objet de définir, les
      modalités de vente à distance entre Etherea, d'une part, et toute personne
      physique non commerçante et majeure ou mineure, avec l'accord préalable de
      son représentant légal exclusivement, effectuant un achat sur le Site
      (ci-après le « Client »), d'autre part.
    </p>

    <p>
      Les présentes Conditions Générales de Vente, rédigées en langue française,
      précisent notamment les différentes étapes nécessaires à la passation de
      la commande par le Client, les modalités de paiement et de livraison ainsi
      que de suivi de la commande du Client.
    </p>

    <p>
      Les présentes s'appliquent à l'exclusion de tout autre document et
      notamment toute condition d'achat du Client.
    </p>
  </div>

  <div class="section">
    <h2>
      ARTICLE 2. CONDITIONS PREALABLES D'ACCES ET DE FONCTIONNEMENT DU SITE
    </h2>
    <h3>2.1 Fonctionnement du Site</h3>
    <p>
      Etherea, ne peut garantir une disponibilité constante ou un accès
      ininterrompu au Site. Etherea s'efforce toutefois d'assurer une expérience
      utilisateur de qualité lors de la navigation sur les pages du Site.
      Etherea se réserve le droit de suspendre, sans notification préalable,
      l'accès au Site ainsi qu'à ses Produits, pour des raisons de maintenance
      ou de mise à jour des informations partagées.
    </p>

    <h3>2.2 Accès au site</h3>
    <p>
      Les commandes se passent sur le Site, accessible via le réseau Internet 24
      heures sur 24 et 7 jours sur 7, à l'exception de situation de force
      majeure, d'événements indépendants de la volonté d'Etherea, ou lors
      d'interventions de maintenance, mises à jour, améliorations techniques, ou
      modification du contenu.
    </p>
  </div>

  <div class="section">
    <h2>ARTICLE 3 - PRODUITS</h2>
    <h3>3.1 Produits</h3>
    <p>
      Les Produits proposés à la vente par Etherea sont ceux qui figurent sur le
      Site, au jour de la consultation du Site par l'Utilisateur et dans la
      limite des stocks disponibles.
    </p>

    <p>
      Les Produits sont présentés par le moyen d'une fiche de renseignements
      (photographie, libellé du produit, composition et prix) élaborée avec le
      maximum d'exactitude et de précision afin de permettre une description des
      plus fidèles et complètes.
    </p>

    <p>
      Les variations mineures par rapport aux produits réels ne peuvent
      entraîner la responsabilité d'Etherea.
    </p>

    <h3>3.2 Utilisation des produits</h3>
    <p>
      Certains Produits proposés à la vente par Etherea peuvent faire l'objet de
      mélanges et de manipulations par le Client. Compte tenu de la nature des
      Produits, il est impératif que le Client se renseigne sur les précautions
      d'usage, d'emploi et de mélange propres à chaque Produit.
    </p>

    <p>
      Etherea ne saurait être tenue responsable en cas de non-respect de ces
      précautions.
    </p>
  </div>
</div>
<div class="container">
  <div class="content">
    <article class="article">
      <h2>ARTICLE 4 - NOTES ET COMMENTAIRES DES INTERNAUTES</h2>
      <p>
        Pour tout achat d'un Produit, le Client aura la possibilité de donner
        son avis sur ce dernier. Etherea ne reçoit aucune contrepartie en
        échange des avis publiés par le Client sur le Site. Le Client peut
        également consulter les avis et recommandations des autres internautes.
        Les avis et recommandations exprimés pour chaque Produit n'engagent que
        ces derniers. Ces avis et recommandations ne peuvent en aucun cas
        constituer un élément contractuel de la part d'Etherea ni engager sa
        responsabilité. Etherea procède à un contrôle des avis et se réserve le
        droit de procéder à la suppression de tout avis ou commentaire
        irrespectueux, déplacé ou offensant.
      </p>
      <p>
        Les symboles en forme d'étoiles figurant sur le Site à côté des Produits
        représentent la moyenne des notes, à un instant donné, laissées par les
        personnes qui se sont exprimées sur notre Site à propos de ce Produit.
        Elles sont donc susceptibles d'évoluer tous les jours.
      </p>
      <p>
        Le nombre total d'avis figurant sur le Site regroupe les avis clients de
        tous les pays. Tout Utilisateur peut les consulter en changeant de pays
        via le drapeau dans le menu du site.
      </p>
    </article>

    <article class="article">
      <h2>ARTICLE 5 – PRIX</h2>
      <h2>5.1 Prix</h2>
      <p>
        Sans préjudice des commandes passées par le Client, Etherea se réserve
        le droit de modifier ses prix à tout moment. Cependant, elle s'engage à
        appliquer les tarifs en vigueur indiqués au moment de la commande, sous
        réserve de disponibilité à cette date.
      </p>
      <p>Les prix sont applicables dans le cadre de la vente à distance.</p>
      <p>
        Les prix indiqués sur le Site sont garantis au jour de la commande dans
        la limite des stocks disponibles, et sauf erreur manifeste de
        typographie ou d'omission.
      </p>
      <p>
        Les prix des Produits sont indiqués en euros et sont valables pour les
        territoires de l'Union Européenne, hors DOM et TOM.
      </p>
      <p>
        Ils tiennent compte d'éventuelles réductions ainsi que de la TVA du pays
        européen de destination, applicables au jour de la commande.
      </p>
      <p>
        Pour les commandes livrées hors de l'Union Européenne ainsi que dans les
        Départements et Territoires d'Outre-Mer :
      </p>
      <p>
        Toute Commande passée sur le Site et livrée en dehors de l'Union
        Européenne, aux DOM et TOM, et aux autres zones non soumises à la TVA,
        sera facturée sans la TVA et pourra être soumise à des taxes
        éventuelles, droits de douane et autres frais liés qui sont imposés
        lorsque le colis parvient à sa destination. Ces frais en sus sont à la
        charge du Client et relèvent de sa seule responsabilité. Il incombe au
        client de se renseigner auprès des autorités locales.
      </p>
      <p>
        Les Produits commercialisés par Etherea sont conformes à la
        réglementation française. Il appartient donc au Client de s'informer
        auprès de l'autorité locale de son pays des éventuelles limitations
        d'importation et d'utilisation des Produits commandés.
      </p>
      <p>
        Etherea ne saurait être tenue pour responsable de l'achat d'un Produit
        considéré comme non-conforme dans un pays donné, alors que ce Produit
        est conforme à la réglementation française.
      </p>
      <h2>Frais de port :</h2>
      <p>
        Les prix indiqués ne tiennent pas compte des frais de port qui seront
        facturés en sus ou bien offerts en fonction du montant de la commande et
        du pays de livraison, et seront précisés à l'Utilisateur lors de la
        validation définitive de sa commande.
      </p>
      <p>
        Ces frais de port ne comprennent pas les douanes et autres frais annexes
        qui peuvent être demandés à l'entrée de certains pays, ces frais restent
        à la charge exclusive du Client.
      </p>
      <p>
        Les Produits demeurent la propriété d'Etherea jusqu'à la livraison au
        Client.
      </p>
    </article>

    <article class="article">
      <h2>5.2 Offres commerciales</h2>
      <p>
        Les offres promotionnelles sont valables pour la durée indiquée, dans la
        limite des stocks disponibles. Les commandes ne peuvent être acceptées
        que si les prix mentionnés sont conformes à ceux de l'offre en vigueur.
      </p>
      <p>
        L'Utilisateur peut également avoir reçu une offre commerciale par email.
        Dans ce cas, il devra saisir et valider son " code avantage ", dans
        l'espace prévu à cet effet sur la page de Récapitulatif de la commande.
      </p>
    </article>

    <article class="article">
      <h2>5.3. Cadeaux</h2>
      <p>
        Le Client a la possibilité d'offrir des cadeaux à ses proches via le
        Site. La procédure de commande reste la même que celle suivie pour la
        réalisation de ses achats personnels. Le Site Etherea permet au Client
        d'adresser un message personnalisé au destinataire du cadeau. Ce message
        apparaîtra sur le document qui accompagne la marchandise à la livraison.
      </p>
      <p>
        Etherea garantit que le prix du ou des article(s) offert(s) n'apparaîtra
        pas sur le document qui accompagne la marchandise à la livraison.
      </p>
      <p>
        Le destinataire du cadeau, jouira lui aussi, de toutes les garanties
        stipulées à l'article 13 ci-après.
      </p>
    </article>

    <article class="article">
      <h2>ARTICLE 6 - CREATION D'UN COMPTE</h2>
      <p>
        La création d'un compte Utilisateur / Client (le « Compte ») est
        obligatoire pour passer une commande.
      </p>
      <p>
        L'inscription de l'Utilisateur sur le Site est validée par Etherea après
        vérification du formulaire standard rempli par l'Utilisateur.
        L'Utilisateur reçoit un email de confirmation d'inscription.
      </p>
      <p>
        Lors de la création de son Compte, l'Utilisateur doit s'assurer de
        l'exactitude et de l'exhaustivité des données qu'il fournit.
        L'Utilisateur est tenu de toujours mettre à jour ses informations
        personnelles. En cas d'erreur dans le libellé des coordonnées du
        destinataire, Etherea ne saurait être tenue responsable de
        l'impossibilité de livrer les Produits.
      </p>
      <p>
        L'inscription sur le Site est réservée aux particuliers personnes
        physiques majeures et ayant la pleine capacité juridique pour
        contracter.
      </p>
    </article>

    <article class="article">
      <h2>ARTICLE 7 - ENREGISTREMENT ET VALIDATION DE COMMANDE</h2>
      <p>
        L'Utilisateur peut prendre connaissance des différents Produits proposés
        à la vente par Etherea sur son Site.
      </p>
      <p>
        L'Utilisateur peut naviguer librement sur les différentes pages du Site
        sans être engagé au titre d'une commande.
      </p>
      <p>
        Toute commande vaut acceptation des prix et description des Produits
        disponibles à la vente.
      </p>
      <p>
        Etherea s'engage à honorer les commandes reçues sur le Site uniquement
        dans la limite des stocks disponibles des Produits.
      </p>
      <p>
        Etherea ne pourra être tenu responsable des éventuelles erreurs de
        saisie et des conséquences qui en découleraient.
      </p>
      <p>
        Etherea se réserve le droit d'annuler ou de refuser toute commande d'un
        Client avec lequel il existerait un litige relatif au paiement d'une
        commande antérieure ou tout autre motif légitime au sens de l'article
        L.121-11 du Code de la consommation.
      </p>
      <p>
        Etherea se réserve le droit d'annuler ou de refuser toute commande d'un
        Client avec lequel il existerait un litige relatif au paiement d'une
        commande antérieure ou qui présenterait une quelconque forme de risque.
      </p>
      <p>
        Toute commande suppose l'adhésion sans restriction ni réserve aux
        présentes Conditions Générales de Vente.
      </p>
      <p>
        La passation de commande par le Client implique son adhésion entière et
        sans réserve aux présentes Conditions Générales de Vente, à l'exclusion
        de toutes autres Conditions Générales de Vente.
      </p>
    </article>
  </div>
  <h2>7.1 Passation de commande</h2>
  <p>
    La validation de la Commande de Produits passée par le Client sur le Site
    est soumise au respect du processus décrit ci-dessous :
  </p>
  <p>
    Pour effectuer sa Commande, le Client doit suivre toutes les indications
    figurant sur le Site.
  </p>
  <p>
    Créer son compte Client (ci-après le « Compte »), ou indiquer son
    identifiant et le mot de passe associé. Le Client s'engage à fournir des
    informations véritables et sincères et à informer Etherea de tout changement
    le concernant ; Etant rappelé que, le mot de passe du Client lui sera
    personnel et confidentiel. Etant également précisé que, l'Utilisateur est
    informé et donne son accord sur le fait que l'utilisation de ces deux
    identifiants constitue une preuve de son identité et exprime son
    consentement.
  </p>
  <p>
    Prise de connaissance des caractéristiques essentielles du Produit telles
    qu'elles sont présentées sur le Site et sélection du Produit ;
  </p>
  <p>
    Ajouter le ou les Produits sélectionnés dans son panier ; l'accès au panier
    étant possible à tout moment pour modification ou validation ;
  </p>
  <p>Valider son panier après avoir vérifié son contenu ;</p>
  <p>
    Accéder à son compte afin de confirmer et compléter les coordonnées
    nécessaires à la livraison ; dans le cas où le Client n'aurait pas déjà de
    compte sur le Site, créer son compte-client et remplir les informations
    requises quant à son identité ;
  </p>
  <p>
    Vérifier les informations figurant dans le récapitulatif de la Commande, et
    accepter sans réserve les Conditions générales de Vente du Site en vigueur ;
  </p>
  <p>Valider sa Commande ;</p>
  <p>
    Saisir et valider les informations relatives au moyen de paiement en ligne.
  </p>
  <p>
    L'acceptation définitive du Client est matérialisée par la validation de son
    paiement quel que soit le mode de paiement choisi parmi ceux proposés au
    jour de la commande.
  </p>

  <h2>Offres commerciales / Réductions</h2>
  <p>
    Pour bénéficier d'une offre commerciale lui ayant été adressée,
    l'Utilisateur devra saisir et valider son "code avantage", dans le champ
    imparti, sur la page affichant son « Panier ».
  </p>

  <h2>Carte-cadeau</h2>
  <p>
    Pour utiliser une carte-cadeau, l'Utilisateur devra saisir et valider son
    code chèque-cadeau, dans le champ imparti sur la page affichant son « Panier
    ».
  </p>

  <h2>7.2 Confirmation de la commande</h2>
  <p>
    Dans l'heure qui suit la passation de sa commande, le Client recevra, un
    email de confirmation qui comprendra :
  </p>
  <ul>
    <li>La confirmation de l'enregistrement de sa commande,</li>
    <li>Un résumé des articles commandés,</li>
    <li>Le montant total de la commande,</li>
    <li>Les frais de livraison associés, le cas échéant,</li>
    <li>La date estimée ou le délai de livraison,</li>
    <li>Le mode de paiement choisi,</li>
    <li>Les informations concernant le droit de rétractation,</li>
    <li>
      Un récapitulatif de ses données personnelles, y compris l'adresse de
      livraison,
    </li>
    <li>
      La confirmation que sa carte sera débitée immédiatement à la suite de la
      passation de la commande.
    </li>
  </ul>
  <p>Les présentes CGV</p>
  <p>
    Lorsque l'Utilisateur valide son paiement, la commande est enregistrée et
    l'Utilisateur devient Client.
  </p>

  <h2>ARTICLE 8 - CONDITIONS DE PAIEMENT</h2>
  <p>
    Les options de paiement disponibles lors de la passation de commande sont la
    carte bancaire (Visa, Mastercard, CB et JCB etc..) et PayPal, et
    apparaissent automatiquement lors de l'étape du paiement.
  </p>
  <p>
    Certaines cartes bancaires ou moyens de paiement spécifiques peuvent ne pas
    être acceptés en fonction du pays de facturation ou de la banque émettrice.
    Ces restrictions seront clairement indiquées lors du processus de commande.
  </p>
  <p>
    Etherea se réserve le droit de retirer ou d'ajouter des méthodes de paiement
    sans notification préalable. De plus, les applications de paiement
    fonctionnent selon leurs propres Conditions Générales d'Utilisation.
  </p>
  <p>
    Il est important de préciser que les transactions peuvent uniquement être
    effectuées en euros pour les pays en dehors de l'Union européenne.
  </p>
  <p>
    Etherea se réserve le droit de procéder à l'annulation d'une commande pour
    juste motif et notamment pour une commande qui présenterait, lors du scoring
    du module de fraude, un risque d'utilisation frauduleuse de carte bancaire.
  </p>

  <h2>8.1 Sécurisation des paiements</h2>
  <p>
    En sélectionnant la carte bancaire pour effectuer le paiement, le Client est
    automatiquement redirigé vers le serveur monétique de la plateforme de
    paiement sécurisé.
  </p>
  <p>
    Cette plateforme fait l'objet d'une sécurisation par cryptage S.S.L. (Secure
    Socket Layer) de manière à protéger toutes les données liées aux moyens de
    paiement.
  </p>
  <p>
    Ainsi, ces informations bancaires sont connues uniquement du prestataire de
    paiement retenu par Etherea. Elles ne transitent ni ne sont stockées sur les
    systèmes informatiques d'Etherea, ni manipulées ou manipulables par son
    personnel.
  </p>

  <h1>ARTICLE 9 - SUIVI DE LA COMMANDE ET MODIFICATION</h1>
  <p>
    Dès réception du récapitulatif de commande, le Client aura accès au "suivi
    de sa commande" en cliquant sur "mon compte" et en s'identifiant par son
    adresse e-mail et son mot de passe.
  </p>
  <p>
    Il incombe au Client de vérifier l'exactitude de la commande et de signaler
    immédiatement toute erreur.
  </p>

  <h2>9.1 Modification</h2>
  <p>
    La modification de la composition d'une commande (produits, quantités…), des
    coordonnées qui s'y rattachent (adresse de livraison, adresse de
    facturation,….) ou l'application d'un avantage ou d'une réduction doivent
    impérativement être réalisées avant le paiement de la commande. Une fois le
    paiement effectué, la commande n'est plus modifiable y compris par le
    Service Client.
  </p>

  <h2>9.2 Suspension de commande</h2>
  <p>
    Etherea se réserve le droit de suspendre le traitement d'une commande et
    toute livraison en cas de refus d'autorisation de paiement par des
    organismes officiellement accrédités ou en cas de non-paiement.
  </p>

  <h1>9.3. Archivage de la commande</h1>
  <p>
    Le panier du Client est archivé et conservé pour une commande ultérieure
    pendant une durée de soixante (60) jours, et ce, même en cas d'interruption
    de la connexion Internet. Toutefois, afin d'accéder à son panier archivé, le
    Client devra se reconnecter au Site à l'aide du même ordinateur présentant
    la même adresse IP de connexion au service.
  </p>
  <p>
    Les détails de la commande portant sur une somme égale ou supérieure à 120 €
    sont archivés conformément à l'article L.213-1 du Code de la consommation,
    pendant une durée de dix (10) ans sur un serveur sécurisé.
  </p>

  <h2>ARTICLE 10 - LIVRAISON</h2>
  <p>
    La livraison est constituée par le transfert au Client de la possession
    physique ou du contrôle du Produit.
  </p>

  <h1>10.1 Frais de mises à disposition des Produits</h1>
  <p>
    Pour chaque commande, il est demandé une participation forfaitaire aux frais
    de port.
  </p>
  <p>
    La participation forfaitaire est indexée sur le mode de livraison choisi par
    le Client au moment de la passation de la commande et facturée par pays.
  </p>
  <p>
    Comme énoncé à l'article 5 des présentes, les frais de port ne comprennent
    pas les douanes et autres frais annexes qui peuvent être demandés à l'entrée
    de certains pays, ces frais restent à la charge exclusive du client.
  </p>

  <section class="section">
    <h1>Reception de la commande</h1>
    <h2>11.1 Retard / Absence de Livraison</h2>
    <p><strong>Perte de colis lors du transport</strong></p>
    <p>
      Etherea choisit des partenaires fiables pour assurer l'acheminement et la
      livraison des colis. Toutefois, un retard ou une perte de colis sont
      possibles bien qu'occasionnels. Toutefois, il se peut, comme dans toute
      expédition, qu'il puisse y avoir un retard de livraison ou que le colis
      s'égare. Dans le cas d'un retard de livraison de plus de 7 jours, le
      Client devra en informer le service client d'Etherea qui transmettra
      l'information au transporteur pour déclencher l'ouverture d'une enquête.
      Cette enquête peut durer jusqu'à 21 jours à compter de son ouverture. Si
      pendant ce délai, le colis est retrouvé, il sera réacheminé immédiatement
      au domicile du Client (dans la majorité des cas). Si en revanche le colis
      n'est pas retrouvé à l'issue du délai de 21 jours d'enquête, le colis sera
      considéré comme perdu. Dans cette hypothèse, Etherea renverra au Client un
      colis de remplacement, à ses frais. Si le ou les produits perdus n'étaient
      plus disponibles à ce moment, Etherea rembourserait au Client le montant
      total de la commande passée, frais de port inclus.
    </p>
  </section>

  <section class="section">
    <h2>11.2 Les retours sous le motif « non réclamé »</h2>
    <p>
      Les retours de colis qui n'auront pas été réclamés par le Client à l'issue
      du délai de garde prévu pour le mode de livraison choisi (bureau de Poste,
      chez un commerçant, Click&Collect en boutique Etherea) feront l'objet d'un
      remboursement du montant total de la commande, frais de port et de retour
      déduits, via le moyen de paiement initial de la commande dans les
      quarante-huit (48) heures suivant la réception du colis en retour par
      Etherea. Le Client pourra ensuite repasser sa commande, en choisissant les
      modes et conditions de livraison de son choix.
    </p>
  </section>

  <section class="section">
    <h2>11.3 Les retours sous le motif « NPAI »</h2>
    <p>
      Les retours de colis dont la livraison aura été impossible à la suite
      d'une adresse incomplète ou erronée, une boîte aux lettres ou un
      destinataire ne permettant pas la remise (non accessible, non
      identifiable, non disponible…) feront l'objet d'un remboursement du
      montant total de la commande, frais de port et de retour déduits, via le
      moyen de paiement initial de la commande dans les quarante-huit (48)
      heures suivant la réception du colis en retour par Etherea. Le Client
      pourra ensuite repasser sa commande, en s'assurant de l'exactitude de
      l'adresse de livraison renseignée.
    </p>
  </section>

  <section class="section">
    <h2>11.4 Les retours par suite d'un refus de dédouanement</h2>
    <p>
      Les retours de colis dont la livraison aura été impossible par suite d'un
      refus de dédouanement de la part du client ou à l'import non autorisé à
      destination feront l'objet d'un remboursement du montant total de la
      commande, frais de port et de retour déduits, via le moyen de paiement
      initial de la commande dans les quarante-huit (48) heures suivant la
      réception du colis en retour par Etherea. En cas d'abandon de la
      marchandise en douanes conduisant à la destruction de la marchandise à
      destination par suite d'un refus de dédouanement, aucun remboursement de
      tout ou partie de la commande ne pourra être sollicité.
    </p>
  </section>

  <section class="section">
    <h2>11.5 Annulation de commande</h2>
    <p>
      En cas de retard de livraison de plus de 7 jours par rapport à la date de
      livraison prévue, le Client peut annuler sa commande en contactant le
      Service Client Etherea par mail ou téléphone ou en cliquant ici.
    </p>
  </section>

  <section class="section">
    <h2>11.6 Anomalies</h2>
    <p>
      Chaque livraison est réputée effectuée dès mise à disposition du ou des
      Produit(s) par le Transporteur auprès du Client, ou d'un tiers indiqué par
      le Client. Il appartient au Client de vérifier immédiatement au moment de
      la réception du/des Produit(s) la conformité et l'intégrité du ou des
      Produit(s) expédié(s).
    </p>
    <p>
      Toute anomalie devra être signalée le plus tôt possible et au plus tard
      dans les 48 heures ouvrées suivant la livraison de la commande et avant
      toute utilisation au Service Client. Le Service Client qui sera fondé à
      demander tout élément d'information qui permettra une résolution rapide.
    </p>
  </section>

  <section class="section">
    <h2>Article 12 - Droit de Rétractation - Retours - Remboursements</h2>
    <h3>12.1 Délai et modalités d'exercice du droit de rétractation</h3>
    <p>
      En vertu de la Directive 2011/83/UE du Parlement européen et du Conseil du
      25 octobre 2011 relative aux droits des consommateurs et de la loi n°
      2014-344 du 17 mars 2014 telle que transposée aux articles L. 221-18 et
      suivants du Code de la consommation, tout consommateur est en droit
      d'annuler sa commande à tout moment dans un délai de 14 jours calendaires
      suivant la date à laquelle il a reçu le/les Article(s) et cela sans avoir
      à justifier de motifs ni à payer de pénalités, à condition que les
      Produits soient retournés dans leur emballage d'origine, complets (i.e.;
      accessoires, notice), en parfait état et non entamés.
    </p>
    <p>
      Ce délai de rétraction expire 14 jours après le jour où le Client ou un
      tiers autre que le transporteur et désigné par le Client, prend
      physiquement possession de la Commande.
    </p>
    <p>
      En cas de non-respect des délais susmentionnés, Etherea ne pourra procéder
      au remboursement du(des) Produit(s) concerné(s). La vente sera considérée
      comme ferme et définitive.
    </p>
    <p>
      Conformément à l'article L.221-18 du code de la consommation, seuls
      peuvent faire l'objet d'un droit de rétractation les produits non
      descellés, non ouverts, non entamés, complets et non abîmés.
    </p>
  </section>

  <section class="section">
    <h3>12.2 Retour des produits</h3>
    <p>Pour exercer le droit de rétractation le client doit :</p>
    <ul>
      <li>
        Notifier sa décision de rétractation de sa commande par une déclaration
        écrite dénuée d'ambigüité en précisant son nom et prénom, e-mail,
        adresse, numéro et date de commande : Par internet : formulaire de
        rétractation ; Ou par courrier : Hyteck Etherea - 1366, Route de Gordes
        - 84220 Cabrières d'Avignon - France
      </li>
      <li>Le retour des colis doit s'effectuer à l'adresse suivante :</li>
      <li>
        Etherea - 576 chemin du Moulin Rouge - 84470 Châteauneuf-de-Gadagne -
        France
      </li>
      <li>
        Les Produits doivent être accompagnés du formulaire de retour
        téléchargeable ici ou des informations suivantes sur papier libre : nom
        et prénom, e-mail, adresse, numéro et date de commande.
      </li>
      <li>Les frais de retour seront à la charge du Client.</li>
    </ul>
  </section>
  <div class="article-section">
    <h1>12.3 Remboursement</h1>
    <p>
      En cas de rétractation du Client sur une partie des Produits de la
      commande, Etherea remboursera le montant des Produits retournés, à
      l'exclusion des frais de port, ceux-ci étant forfaitaires pour une
      commande de plusieurs produits.
    </p>

    <p>
      En cas de rétractation du Client sur la globalité de sa commande, Etherea
      remboursera la totalité des paiements reçus du Client pour cette commande.
    </p>

    <p>
      Le remboursement sera effectué par le même moyen de paiement que celui que
      le Client a utilisé pour sa commande ou par virement bancaire.
    </p>

    <p>
      Etherea pourra différer ce remboursement jusqu'à réception et vérification
      des Produits.
    </p>
  </div>

  <div class="article-section">
    <h2>ARTICLE 13 - GARANTIES LEGALES : NON CONFORMITE ET VICES-CACHES</h2>
    <h3>13.1 Dispositions communes</h3>
    <p>
      Etherea est garant de la conformité et des vices cachés. Toute réclamation
      en ce sens peut être adressée par courrier à l'adresse suivante : 576
      chemin du Moulin Rouge 84470 Chateauneuf-de-Gadagne, France ou par le
      biais de notre formulaire de contact (réponse sous 48h).
    </p>

    <p>
      Le vendeur est tenu des défauts de conformité du bien au contrat dans les
      conditions de l'article L.217-4 et suivants du code de la consommation et
      des défauts cachés de la chose vendue dans les conditions prévues aux
      articles 1641 et suivants du code civil.
    </p>

    <p>
      Le consommateur dispose d'un délai de deux ans à compter de la délivrance
      du bien pour obtenir la mise en œuvre de la garantie légale de conformité
      en cas d'apparition d'un défaut de conformité.
    </p>

    <p>
      Durant ce délai, le consommateur n'est tenu d'établir que l'existence du
      défaut de conformité et non la date d'apparition de celui-ci.
    </p>

    <p>
      Lorsque le contrat de vente du bien prévoit la fourniture d'un contenu
      numérique ou d'un service numérique de manière continue pendant une durée
      supérieure à deux ans, la garantie légale est applicable à ce contenu
      numérique ou ce service numérique tout au long de la période de fourniture
      prévue.
    </p>

    <p>
      Durant ce délai, le consommateur n'est tenu d'établir que l'existence du
      défaut de conformité affectant le contenu numérique ou le service
      numérique et non la date d'apparition de celui-ci.
    </p>

    <p>
      La garantie légale de conformité emporte obligation pour le professionnel,
      le cas échéant, de fournir toutes les mises à jour nécessaires au maintien
      de la conformité du bien.
    </p>

    <p>
      La garantie légale de conformité donne au consommateur droit à la
      réparation ou au remplacement du bien dans un délai de trente jours
      suivant sa demande, sans frais et sans inconvénient majeur pour lui.
    </p>

    <p>
      Si le bien est réparé dans le cadre de la garantie légale de conformité,
      le consommateur bénéficie d'une extension de six mois de la garantie
      initiale.
    </p>

    <p>
      Si le consommateur demande la réparation du bien, mais que le vendeur
      impose le remplacement, la garantie légale de conformité est renouvelée
      pour une période de deux ans à compter de la date de remplacement du bien.
    </p>

    <p>
      Le consommateur peut obtenir une réduction du prix d'achat en conservant
      le bien ou mettre fin au contrat en se faisant rembourser intégralement
      contre restitution du bien, si :
    </p>
    <ul>
      <li>Le professionnel refuse de réparer ou de remplacer le bien.</li>
      <li>
        La réparation ou le remplacement du bien intervient après un délai de
        trente jours.
      </li>
      <li>
        La réparation ou le remplacement du bien occasionne un inconvénient
        majeur pour le consommateur, notamment lorsque le consommateur supporte
        définitivement les frais de reprise ou d'enlèvement du bien non
        conforme, ou s'il supporte les frais d'installation du bien réparé ou de
        remplacement.
      </li>
      <li>
        La non-conformité du bien persiste en dépit de la tentative de mise en
        conformité du vendeur restée infructueuse.
      </li>
    </ul>

    <p>
      Le consommateur a également droit à une réduction du prix du bien ou à la
      résolution du contrat lorsque le défaut de conformité est si grave qu'il
      justifie que la réduction du prix ou la résolution du contrat soit
      immédiate.
    </p>

    <p>
      Le consommateur n'est alors pas tenu de demander la réparation ou le
      remplacement du bien au préalable. Le consommateur n'a pas droit à la
      résolution de la vente si le défaut de conformité est mineur.
    </p>

    <p>
      Toute période d'immobilisation du bien en vue de sa réparation ou de son
      remplacement suspend la garantie qui restait à courir jusqu'à la
      délivrance du bien remis en état.
    </p>

    <p>
      Les droits mentionnés ci-dessus résultent de l'application des articles L.
      217-1 à L. 217-32 du code de la consommation.
    </p>

    <p>
      Le vendeur qui fait obstacle de mauvaise foi à la mise en œuvre de la
      garantie légale de conformité encourt une amende civile d'un montant
      maximal de 300 000 euros, qui peut être porté jusqu'à 10 % du chiffre
      d'affaires moyen annuel (article L. 241-5 du code de la consommation).
    </p>

    <p>
      Le consommateur bénéficie également de la garantie légale des vices cachés
      en application des articles 1641 à 1649 du code civil, pendant une durée
      de deux ans à compter de la découverte du défaut.
    </p>

    <p>
      Cette garantie donne droit à une réduction de prix si le bien est conservé
      ou à un remboursement intégral contre restitution du bien.
    </p>
  </div>

  <div class="article-section">
    <h3>13.2 Procédure à suivre</h3>
    <p>
      Suite à l'information d'Etherea de la volonté par le Client d'exercer
      l'une des garanties légales précitées, le Service Client d'Etherea
      accusera réception de la demande du Client et lui indiquera la procédure à
      suivre. A réception des instructions du Service Client d'Etherea et du bon
      de retour correspondant, le Client renverra les Produits non-conformes ou
      affectés d'un vice caché à Etherea à l'adresse indiquée par le Service
      Client.
    </p>

    <p>
      Tout Produit renvoyé devra être complet, non utilisé (sauf en cas de vice
      caché) et, dans la mesure du possible, accompagné de son emballage
      d'origine ainsi que du bon de retour et d'une photocopie de la facture.
    </p>

    <p>
      A réception du ou des Produit(s) présumé(s) non-conforme(s) ou affectés
      d'un vice caché, Etherea réalise un contrôle du ou des Produit(s) pour
      constater la conformité ou non desdits Produits. De même, Etherea peut
      procéder sur le(s) Produit(s) retourné(s) par le Client à un test qualité
      pour vérifier que le(s) Produit(s) retourné(s) sont bien de(s) Produit(s)
      d'origine. Il est entendu que ces contrôles sont effectués dans les plus
      brefs délais et dans un délai maximum d'un (1) mois.
    </p>
  </div>

  <div class="article-section">
    <h3>13.3 Contenu des garanties légales</h3>
    <p>
      Si le caractère non-conforme du ou des Produits est confirmé ou que le
      vice caché est avéré : le Client peut choisir entre la réparation et le
      remplacement du Produit, sous réserve des conditions de coûts prévues par
      l'article L. 217-12 du Code de la consommation.
    </p>

    <p>
      A noter que le Client (i) bénéficie d'un délai de deux (2) ans à compter
      de la délivrance du Produit pour agir et (ii) est dispensé de rapporter la
      preuve de l'existence du défaut de conformité du Produit durant les
      vingt-quatre (24) mois suivant la délivrance du Produit.
    </p>

    <p>
      Dans le cadre de la mise en œuvre de la garantie contre les vices cachés
      de la chose vendue par le Client au sens de l'article 1641 du Code civil,
      il peut choisir entre la résolution de la vente ou une réduction du prix
      de vente conformément à l'article 1644 du Code civil.
    </p>

    <p>
      Dans l'hypothèse où le caractère non-conforme ou le vice d'un Produit
      retourné ne serait pas confirmé, Etherea contactera le Client afin de
      convenir de la suite à donner. Le cas échéant, toute réexpédition sera au
      frais du Client.
    </p>
  </div>
  <h2>ARTICLE 16 - RESPONSABILITE</h2>
  <p>
    La responsabilité d'Etherea, au titre des présentes Conditions, ne saurait
    être engagée dans les cas où le dommage ou l'inexécution de nos obligations
    serait imputable au fait d'un tiers, à votre faute (voir notamment les
    conditions d'utilisation prévue à l'article 3.2) ou à un évènement de force
    majeure tel que défini par l'article 17.
  </p>
  <p>
    La passation de la commande sur le Site implique la connaissance et
    l'acceptation des procédures en vigueur sur le réseau Internet notamment en
    ce qui concerne les performances techniques, les temps de réponse, de
    connexion, les interrogations ou transferts d'information, les risques de
    coupure, les risques de contamination par virus circulant sur le réseau et
    de manière générale tous les risques liés à l'utilisation du réseau
    Internet. A cet égard, le Client reconnaît qu'il est de sa responsabilité
    d'installer des anti-virus et des logiciels de sécurité appropriés sur son
    matériel informatique et tout autre dispositif afin de les protéger contre
    tout bogue, virus ou autre routine de programmation de cet ordre s'avérant
    nuisible.
  </p>
  <p>
    Etherea ne saurait donc en aucun cas être tenue responsable de tout dommage
    direct ou indirect issu d'une mauvaise utilisation ou d'incident lié à
    l'utilisation de l'ordinateur, de l'accès à Internet, de la maintenance ou
    du dysfonctionnement des serveurs, de la ligne téléphonique ou de toute
    autre connexion technique, la connexion du Client au Site se faisant sous
    son entière responsabilité.
  </p>
  <p>
    Etherea est uniquement tenue de livrer des Produits conformes aux
    dispositions contractuelles.
  </p>
  <p>
    Les Produits vendus sur le Site Internet sont conformes à la règlementation
    en vigueur en France.
  </p>
  <p>
    Etherea ne peut être tenue pour responsable des dommages de toute nature,
    tant matériels qu'immatériels ou corporels, qui pourraient résulter de la
    mauvaise utilisation des produits commercialisés.
  </p>
  <p>
    Tous les documents, descriptions et informations relatifs aux Produits
    figurant sur le Site Internet sont fournis « en l'état », sans être couverts
    par une quelconque garantie, explicite ou implicite, à l'exception des
    garanties prévues par la loi.
  </p>
  <p>
    Au regard de la nature des Produits, il est rappelé que les informations
    communiquées ne sauraient être assimilées à des conseils ou recommandations
    médicales. Toute utilisation prévue dans le cadre thérapeutique ou du
    traitement d'une situation (ex : maladie, infection, etc.) doit faire
    l'objet d'une consultation préalable auprès d'un médecin ou pharmacien
    diplômé.
  </p>

  <h2>ARTICLE 17 - FORCE MAJEURE</h2>
  <p>
    Aucune Partie n'est responsable de la non-exécution totale ou partielle de
    ses obligations au titre des présentes CGV si cette non-exécution est
    provoquée par un événement constitutif de force majeure.
  </p>
  <p>
    Sont considérés comme cas de force majeure les événements remplissant les
    critères fixés par la jurisprudence de la Cour de cassation et la
    législation.
  </p>
  <p>
    La Partie invoquant un événement constitutif de force majeure devra en
    aviser l'autre Partie dans les cinq (5) jours ouvrables suivant la
    survenance de cet événement. Les Parties conviennent qu'elles doivent se
    concerter dans les meilleurs délais afin de déterminer ensemble les
    modalités d'exécution de la commande pendant la durée du cas de force
    majeure. Au-delà d'un délai d'un (1) mois d'interruption pour cause de force
    majeure, Etherea sera libre d'annuler la commande, à charge pour elle de
    rembourser le Client le cas échéant.
  </p>

  <h2>ARTICLE 18 - MODIFICATION DES CGV</h2>
  <p>
    Il est précisé que le Client peut sauvegarder ou imprimer les présentes CGV,
    à condition toutefois de ne pas les modifier.
  </p>
  <p>
    Les CGV en vigueur peuvent être consultées à tout moment sous la rubrique «
    Conditions Générales de Vente » accessible via toutes les pages du Site. La
    version des CGV applicables demeurera celles en vigueur au moment où la
    commande a été réalisée (i.e. paiement des Produits du panier).
  </p>
  <p>
    Etherea peut à tout moment mettre à jour les présentes CGV. Une telle mise à
    jour faisant l'objet d'une notification préalable et spécifique sur le Site.
  </p>
  <p>
    Le Client consent expressément à la nouvelle version des CGV en validant une
    nouvelle commande.
  </p>

  <h2>ARTICLE 19 - DROIT APPLICABLE - REGLEMENT DES LITIGES</h2>
  <p>
    La relation entre Etherea et tout Utilisateur / Client est soumise au droit
    français. Le choix de la loi française ne peut cependant priver le Client
    consommateur résidant hors de France, de l'application des dispositions
    impératives et protectrices des consommateurs prévues par la loi du pays
    dans lequel le Client a sa résidence habituelle, sous réserve que Etherea
    exerce son activité ou dirige son activité vers ce pays.
  </p>
  <p>
    En cas de difficultés dans l'application du présent contrat, le Client a la
    possibilité, avant toute action en justice, de rechercher une solution
    amiable notamment avec l'aide d'une association professionnelle de la
    branche, d'une association de consommateurs ou de tout autre conseil de son
    choix. Les réclamations ou contestations seront toujours reçues avec
    bienveillance, la bonne foi étant toujours présumée chez celui qui prend la
    peine d'exposer sa situation. En cas de litige, le Client devra s'adresser
    en priorité à Etherea afin d'obtenir une solution amiable.
  </p>
  <p>
    Pour tout problème relatif à une commande, merci de prendre contact avec
    notre Service Client par téléphone au numéro suivant : 04 13 35 50 00 ou par
    internet via le formulaire de contact.
  </p>
  <p>
    Conformément aux dispositions du Code de la consommation concernant le
    règlement amiable des litiges, Etherea adhère aux services du médiateur de
    la consommation CM2C. En cas de réclamation écrite non résolue par notre
    Service Client dans un délai de 2 mois, vous pouvez saisir gratuitement le
    Médiateur de la consommation CM2C aux coordonnées suivantes : 14, Rue Saint
    Jean - PARIS (75017) et dont le site internet est accessible via le lien
    suivant : https://www.cm2c.net/.
  </p>
  <p>
    Conformément à l'article 14 du Règlement (UE) n°524/2013, la Commission
    européenne a également mis à la disposition des consommateurs une plateforme
    européenne de règlement en ligne des litiges (RLL) accessible via le lien
    suivant :
    https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=FR.
  </p>
  <p>
    Conformément à l'article R.631-3 du Code de la consommation : « Le
    consommateur peut saisir, soit l'une des juridictions territorialement
    compétentes en vertu du code de procédure civile, soit la juridiction du
    lieu où il demeurait au moment de la conclusion du contrat ou de la
    survenance du fait dommageable ».
  </p>

  <h2>ARTICLE 20- NON-VALIDITE PARTIELLE</h2>
  <p>
    Si une ou plusieurs stipulations des présentes CGV sont tenues pour
    non-valides ou déclarées comme telles en application d'une loi, d'un
    règlement ou à la suite d'une décision définitive d'une juridiction
    compétente, les autres stipulations gardent toute leur force et leur portée.
  </p>

  <h2>ARTICLE 21 - INTEGRALITE DES CGV</h2>
  <p>
    Les présentes CGV et le récapitulatif de commande transmis au Client forment
    un ensemble contractuel et constituent l'intégralité des relations
    contractuelles intervenues entre les Parties.
  </p>
  <p>En cas de contradiction entre ces documents, les CGV prévaudront.</p>
</div>
