<div class="container mt-5">
  <div class="row mb-3 d-flex justify-content-between align-items-center">
    <div class="col-auto">
      <h2>Gestion des produits naturels</h2>
    </div>
    <div class="col-auto">
      <button class="btn-primary" [routerLink]="['/admin', 'add-product']">
        Ajouter un produit
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nom du produit</th>
              <th scope="col">Type</th>
              <th scope="col">Image</th>
              <th scope="col description">Description</th>
              <th scope="col">Bénéfices</th>
              <th scope="col">Ingrédients</th>
              <th scope="col">Conseils d'utilisation</th>
              <th scope="col">Prix</th>
              <th scope="col">Caractéristique</th>
              <th scope="col">Quantité en stock</th>
              <th scope="col">État du stock</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products$ | async">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.type }}</td>
              <td>
                <img
                  [src]="product.image"
                  alt="{{ product.name }}"
                  style="width: 50px; height: 50px"
                />
              </td>
              <td class="text-wrap">{{ product.description }}</td>
              <td class="text-wrap">{{ product.benefits }}</td>
              <td class="text-wrap">{{ product.ingredients }}</td>
              <td class="text-wrap">{{ product.usageTips }}</td>
              <td>{{ product.basePrice }}</td>
              <td>{{ product.characteristics }}</td>
              <td>{{ product.stockQuantity }}</td>
              <td>{{ product.stockStatus }}</td>
              <td>
                <div class="d-flex justify-content-center gap-2">
                  <button
                    class="btn btn-warning btn-sm custom-btn"
                    [routerLink]="['/admin', 'update-product']"
                  >
                    Modifier
                  </button>
                  <button
                    class="btn btn-danger btn-sm custom-btn"
                    (click)="deleteProduct(product.id)"
                  >
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
