.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 80px;
}

.return-link {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}

.return-link:hover {
  color: #555;
  text-decoration: underline;
}

.current-page {
  color: black;
  margin-left: 5px;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  color: #333;
  font-size: 20px;
}

p {
  line-height: 1.6;
  text-align: justify;
}

.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  margin-bottom: 8px;
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: darkgreen;
}
.btn-link {
  margin-left: -10px;
}
