<div class="container mt-4 px-3 px-md-5">
  <div class="breadcrumb">
    <a [routerLink]="'/'" class="return-link"> Accueil </a>
    <span class="current-page"> > Mentions légales</span>
  </div>
  <h1>Mentions légales</h1>

  <p class="text-justify">
    Les informations suivantes sont fournies en vertu des articles 6, 19 et 20
    de la loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie
    numérique.
  </p>

  <h2>Éditeur du site</h2>
  <p>
    Le présent site est la propriété de la société <strong>Etherea</strong>,
    société par actions simplifiée.
  </p>
  <ul class="list-unstyled">
    <li><strong>SIREN :</strong> 987 654 321</li>
    <li><strong>Numéro TVA :</strong> FR 99 987 654 321</li>
    <li>
      <strong>Siège social :</strong> 15 Rue des Bouleaux, 68100 Mulhouse,
      France
    </li>
    <li><strong>Numéro R.C.S :</strong> 987 654 321 R.C.S. Mulhouse</li>
    <li><strong>Capital social :</strong> 75 000 €</li>
    <li><strong>Téléphone :</strong> 03 89 12 34 56</li>
    <li>
      <strong>Contact :</strong>
      <a href="mailto:contact@etherea.com"> Nous contacter</a>
    </li>
  </ul>

  <h2>Directeur de la publication</h2>
  <p><strong>Nom :</strong> Najet RAMOUL</p>

  <h2>Hébergeur du site</h2>
  <p>
    Le site est hébergé par la société <strong>WebHost FR</strong>, société par
    actions simplifiée.
  </p>
  <ul class="list-unstyled">
    <li><strong>SIREN :</strong> 123 456 789</li>
    <li><strong>Numéro TVA :</strong> FR 11 123 456 789</li>
    <li>
      <strong>Siège social :</strong> 45 Avenue des Technologies, 68200
      Mulhouse, France
    </li>
    <li><strong>Numéro RCS :</strong> 123 456 789 R.C.S. Mulhouse</li>
    <li><strong>Capital social :</strong> 200 000 €</li>
  </ul>

  <h2>CNIL</h2>
  <p>
    Ce site a fait l'objet d'une déclaration préalable auprès de la
    <strong>CNIL</strong>. Numéro : <strong>2456789</strong>.
  </p>
  <p>
    Vous disposez d'un droit d'accès, de modification et de suppression de vos
    données. Contactez-nous :
  </p>
  <ul class="list-unstyled">
    <li><strong>Par téléphone :</strong> 03 89 12 34 56</li>
    <li>
      <strong>Par courrier :</strong> Etherea, 10 Avenue des Lumières - 68100
      Mulhouse, France
    </li>
  </ul>

  <h2>Cookies</h2>
  <p>
    Consultez notre
    <a routerLink="/politique-cookies">Politique en matière de cookies</a>.
  </p>

  <h2>Données personnelles</h2>
  <p>
    Consultez notre
    <a routerLink="/personal-Data-Charter">Charte des données personnelles</a>.
  </p>

  <h2>Propriété intellectuelle</h2>
  <p>
    Ce site est protégé par le Code de la propriété intellectuelle. Toute
    reproduction est interdite sans autorisation.
  </p>

  <a class="btn btn-link" (click)="showCookiePopup()"> Modifier mes cookies </a>
  <app-cookie-popup></app-cookie-popup>
</div>
