.product-image {
  width: 65%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  margin: 30px auto;
  display: block;
  transition: transform 0.3s;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: baseline;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: grey;
  cursor: pointer;
  transition: color 0.5s ease;
}

.heart-icon.favorite {
  color: red !important;
}

.card-title,
.card-text {
  height: 50px;
  overflow: hidden; /* Pour gérer le dépassement de texte */
  text-overflow: ellipsis; /* Pour afficher en cas de dépassement */
}

.card-description {
  text-decoration: none;
  color: black;
}
