<div class="container d-flex justify-content-center align-items-center">
  <div class="form-wrapper">
    <h2 class="text-center text-dark">Réinitialiser mon mot de passe</h2>
    <p class="text-center">
      Entrez votre adresse e-mail ci-dessous et vous recevrez un e-mail avec un
      lien pour réinitialiser votre mot de passe.
    </p>

    <!-- Message de confirmation uniquement -->
    <div *ngIf="successMessage" class="success-message">
      <p>{{ successMessage }}</p>
      <button class="btn-primary" [routerLink]="'/signin'">
        Retourner à la connexion
      </button>
    </div>

    <!-- Formulaire de réinitialisation -->
    <div *ngIf="!successMessage" class="card my-4 rounded">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <form
        [formGroup]="forgotPasswordForm"
        class="card-body p-lg-5"
        (ngSubmit)="onSubmit()"
      >
        <div class="mb-3">
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            required
            placeholder="Email"
          />
          <div
            *ngIf="
              forgotPasswordForm.controls['email'].invalid &&
              forgotPasswordForm.controls['email'].touched
            "
          >
            <small class="error text-danger"
              >Veuillez entrer un email valide.</small
            >
          </div>
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn-primary"
            [disabled]="forgotPasswordForm.invalid || isLoading"
          >
            <span
              *ngIf="isLoading"
              class="spinner-border spinner-border-sm"
            ></span>
            <span *ngIf="!isLoading">Valider</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
