.product-image {
  width: 85%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  margin: 30px auto;
  display: block;
  transition: transform 0.3s;
}

.badge-new {
  position: absolute;
  top: 10px;
  left: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}

@media (max-width: 768px) {
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}
@media (min-width: 430px) and (max-width: 575px) {
  .new-products .card {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
