.small-img {
  padding-top: 15px;
  width: 65%;
  object-fit: cover;
}

.close-button {
  background: none;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}
.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.align-bottom {
  margin-top: auto;
  margin-bottom: 10px;
}
.message-success {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* S'assurer que le message est au-dessus du contenu */
  padding: 15px 30px;
  font-size: 18px;
  color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (max-width: 767px) {
  .btn-primary {
    width: 100%;
  }
}
