<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Mes favoris</h2>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let favorite of favorites" class="col-md-3">
            <div class="card h-100 mb-4">
              <img
                [src]="favorite.product.image"
                class="product-image card-img-top mx-auto img-fluid small-img"
                alt="{{ favorite.product.name }}"
              />
              <div class="card-body d-flex flex-column justify-content-between">
                <span
                  class="heart-icon favorite"
                  (click)="confirmRemoveFavorite(favorite.productId)"
                  >&#x2764;</span
                >
                <h5 class="card-title">{{ favorite.product.name }}</h5>
                <p class="card-text">{{ favorite.product.description }}</p>
                <p class="card-text">{{ favorite.product.price }} €</p>
                <button
                  class="btn-primary align-bottom"
                  (click)="openProductPopup(favorite.product)"
                >
                  Ajouter au panier
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ show: showModal }"
  *ngIf="showModal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <button
          mat-icon-button
          mat-dialog-close
          class="close-button"
          (click)="hideModal()"
        >
          <mat-icon aria-label="Close dialog">close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer ce produit de vos favoris ?</p>
      </div>
      <div class="modal-footer">
        <div class="btn-box">
          <button
            type="button"
            class="btn-primary"
            (click)="removeFavorite(confirmedProductId)"
          >
            Confirmer
          </button>
          <button type="button" class="btn-primary" (click)="hideModal()">
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
