<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <a [routerLink]="['/admin', 'admin-products']" class="return-link">
        Liste des produits
      </a>
      <h2 class="text-center">Ajouter un produit</h2>

      <div *ngIf="successMessage" class="alert alert-success floating-alert">
        {{ successMessage }}
      </div>

      <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="mb-3">
          <input
            type="text"
            id="name"
            class="form-control"
            [(ngModel)]="product.name"
            name="name"
            required
            placeholder="Nom du produit"
          />
        </div>

        <div class="mb-3">
          <select
            id="type"
            class="form-control"
            [(ngModel)]="product.type"
            name="type"
            required
            placeholder="Type"
          >
            <option [value]="ProductType.FACE">{{ ProductType.FACE }}</option>
            <option [value]="ProductType.HAIR">{{ ProductType.HAIR }}</option>
          </select>
        </div>

        <div class="mb-3">
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event)"
            required
            placeholder="Image"
          />
        </div>

        <div class="mb-3">
          <textarea
            id="description"
            class="form-control message"
            rows="3"
            [(ngModel)]="product.description"
            name="description"
            required
            placeholder="Description"
          ></textarea>
        </div>

        <div class="mb-3">
          <textarea
            id="benefits"
            class="form-control message"
            rows="2"
            [(ngModel)]="product.benefits"
            name="benefits"
            placeholder="Bénéfices"
          ></textarea>
        </div>

        <div class="mb-3">
          <textarea
            id="ingredients"
            class="form-control message"
            rows="2"
            [(ngModel)]="product.ingredients"
            name="ingredients"
            placeholder="Ingrédients"
          ></textarea>
        </div>

        <div class="mb-3">
          <textarea
            id="usageTips"
            class="form-control message"
            rows="2"
            [(ngModel)]="product.usageTips"
            name="usageTips"
            placeholder="Conseils d'utilisation"
          ></textarea>
        </div>

        <div class="mb-3">
          <input
            type="number"
            id="basePrice"
            class="form-control"
            [(ngModel)]="product.basePrice"
            name="basePrice"
            required
            step="0.01"
            placeholder="Prix"
          />
        </div>
        <div class="mb-3">
          <label for="newProduct" class="form-label">Nouveau produit</label>
          <input
            type="number"
            id="newProduct"
            class="form-control"
            [(ngModel)]="product.newProduct"
            name="newProduct"
            required
            step="0.01"
          />
        </div>

        <div class="mb-3">
          <textarea
            id="characteristics"
            class="form-control message"
            rows="2"
            [(ngModel)]="product.characteristics"
            name="characteristics"
            placeholder="Caractéristique"
          ></textarea>
        </div>

        <div class="mb-3">
          <input
            type="number"
            id="stockQuantity"
            class="form-control"
            [(ngModel)]="product.stockQuantity"
            name="stockQuantity"
            required
            min="1"
            placeholder="Quantité en stock"
          />
        </div>

        <div class="mb-3">
          <select
            id="stockStatus"
            class="form-control message"
            [(ngModel)]="product.stockStatus"
            name="stockStatus"
            required
            placeholder="État du stock"
          >
            <option [value]="StockStatus.AVAILABLE">
              {{ StockStatus.AVAILABLE }}
            </option>
            <option [value]="StockStatus.OUT_OF_STOCK">
              {{ StockStatus.OUT_OF_STOCK }}
            </option>
          </select>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary w-100">
            <Var>Valider</Var>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
