<nav class="navbar navbar-expand-lg navbar-light bg-white sidebar">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          routerLink="/order"
          routerLinkActive="active"
        >
          <i class="fas fa-shopping-cart mr-2"></i>
          Mes commandes
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          routerLink="/informations"
          routerLinkActive="active"
        >
          <i class="fas fa-info-circle mr-2"></i>
          Mes informations
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          routerLink="/favorites"
          routerLinkActive="active"
        >
          <i class="fas fa-heart mr-2"></i>
          Mes favoris
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" (click)="logout()">
          <i class="fas fa-sign-out-alt mr-2"></i>
          Me déconnecter
        </a>
      </li>
    </ul>
  </div>
</nav>
