<nav class="navbar navbar-expand-lg navbar-light bg-white sidebar">
  <!-- Contenu du menu qui s'affiche directement -->
  <div class="collapse navbar-collapse show" id="navbarNav">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          routerLink="/profile"
          routerLinkActive="active"
          [class.active]="isInformationsActive()"
        >
          <i class="fas fa-info-circle mr-2"></i>
          Mes informations
          <span class="greater-symbol">&gt;</span>
        </a>
        <hr class="category-divider" />
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          routerLink="/------------------"
          routerLinkActive="active"
        >
          <i class="fas fa-heart mr-2"></i>
          Mes adresses
          <span class="greater-symbol">&gt;</span>
        </a>
        <hr class="category-divider" />
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          routerLink="/informations"
          routerLinkActive="active"
        >
          <i class="fas fa-shopping-cart mr-2"></i>
          Mes achats
          <span class="greater-symbol">&gt;</span>
        </a>
        <hr class="category-divider" />
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          routerLink="/favorites"
          routerLinkActive="active"
        >
          <i class="fas fa-heart mr-2"></i>
          Mes favoris
          <span class="greater-symbol">&gt;</span>
        </a>
        <hr class="category-divider" />
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark logout-link" (click)="logout()">
          <i class="fas fa-sign-out-alt mr-2"></i>
          Me déconnecter
          <span class="greater-symbol">&gt;</span>
        </a>
        <hr class="category-divider" />
      </li>
    </ul>
  </div>
</nav>
