<div class="container-fluid">
  <div class="row d-flex align-items-start">
    <!-- Formulaire d'adresse de livraison -->
    <div class="col-lg-6" *ngIf="userId">
      <h2 class="text-dark mt-4">1. Adresse de Livraison</h2>
      <div class="card mt-5 mb-0 rounded card-form-margin">
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <form
          [formGroup]="deliveryAddressForm"
          class="card-body cardbody-color p-lg-4"
          (ngSubmit)="onSubmit()"
        >
          <!-- Champs du formulaire -->
          <div class="mb-3">
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              id="firstName"
              placeholder="Prénom"
            />
            <div *ngFor="let error of errorMessages.firstName">
              <div
                *ngIf="
                  deliveryAddressForm.get('firstName')?.hasError(error.type) &&
                  (deliveryAddressForm.get('firstName')?.dirty ||
                    deliveryAddressForm.get('firstName')?.touched)
                "
              >
                <small class="error-message">{{ error.message }}</small>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="lastName"
              placeholder="Nom"
            />
            <div *ngFor="let error of errorMessages.lastName">
              <div
                *ngIf="
                  deliveryAddressForm.get('lastName')?.hasError(error.type) &&
                  (deliveryAddressForm.get('lastName')?.dirty ||
                    deliveryAddressForm.get('lastName')?.touched)
                "
              >
                <small class="error-message">{{ error.message }}</small>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="address"
              placeholder="Adresse"
            />
            <div *ngFor="let error of errorMessages.address">
              <div
                *ngIf="
                  deliveryAddressForm.get('address')?.hasError(error.type) &&
                  (deliveryAddressForm.get('address')?.dirty ||
                    deliveryAddressForm.get('address')?.touched)
                "
              >
                <small class="error-message">{{ error.message }}</small>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="number"
              formControlName="zipCode"
              class="form-control"
              id="zipCode"
              placeholder="Code Postal"
            />
            <div *ngFor="let error of errorMessages.zipCode">
              <div
                *ngIf="
                  deliveryAddressForm.get('zipCode')?.hasError(error.type) &&
                  (deliveryAddressForm.get('zipCode')?.dirty ||
                    deliveryAddressForm.get('zipCode')?.touched)
                "
              >
                <small class="error-message">{{ error.message }}</small>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="city"
              class="form-control"
              id="city"
              placeholder="Ville"
            />
            <div *ngFor="let error of errorMessages.city">
              <div
                *ngIf="
                  deliveryAddressForm.get('city')?.hasError(error.type) &&
                  (deliveryAddressForm.get('city')?.dirty ||
                    deliveryAddressForm.get('city')?.touched)
                "
              >
                <small class="error-message">{{ error.message }}</small>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="country"
              class="form-control"
              id="country"
              placeholder="Pays"
            />
            <div *ngFor="let error of errorMessages.country">
              <div
                *ngIf="
                  deliveryAddressForm.get('country')?.hasError(error.type) &&
                  (deliveryAddressForm.get('country')?.dirty ||
                    deliveryAddressForm.get('country')?.touched)
                "
              >
                <small class="error-message">{{ error.message }}</small>
              </div>
            </div>
          </div>

          <div class="mb-5">
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control"
              id="phoneNumber"
              placeholder="Numéro de Téléphone"
            />
            <div *ngFor="let error of errorMessages.phoneNumber">
              <div
                *ngIf="
                  deliveryAddressForm
                    .get('phoneNumber')
                    ?.hasError(error.type) &&
                  (deliveryAddressForm.get('phoneNumber')?.dirty ||
                    deliveryAddressForm.get('phoneNumber')?.touched)
                "
              >
                <small class="error-message">{{ error.message }}</small>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="btn-primary"
              [disabled]="!deliveryAddressForm.valid"
            >
              Continuer vers la livraison
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Liste des produits et récapitulatif -->
    <div
      *ngIf="!isCartEmpty"
      class="col-lg-6 d-flex flex-column align-items-end"
    >
      <!-- Liste des produits -->
      <div class="card mb-0 rounded product-card">
        <div class="card-body cardbody-color p-lg-4 product-list-container">
          <app-product-display
            *ngFor="let item of cartItems"
            [item]="item"
            [showVolume]="true"
          ></app-product-display>
        </div>
      </div>

      <!-- Récapitulatif de la commande -->
      <div
        class="card my-5 rounded summary-card card-summary-margin order-summary-card"
      >
        <div class="card-body p-lg-5">
          <h3 class="title-order">Récapitulatif de la Commande</h3>
          <div class="summary-item">
            Total
            <span>{{ cartTotal | number : ".2-2" }} €</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
