<div class="container-fluid">
  <div class="row d-flex align-items-start">
    <!-- Formulaire d'adresse de livraison -->

    <div class="col-lg-6 col-md-12" *ngIf="userId">
      <!-- Bouton pour afficher la popup sur mobile -->
      <div class="d-lg-none text-center mt-4">
        <button class="btn btn-info" (click)="showSummaryPopup = true">
          Récapitulatif de la commande
        </button>
      </div>
      <h2 class="text-dark mt-4">1. Adresse de Livraison</h2>
      <div class="card mt-5 mb-0 rounded card-form-margin">
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <form
          [formGroup]="deliveryAddressForm"
          class="card-body cardbody-color p-lg-4"
          (ngSubmit)="onSubmit()"
        >
          <div class="mb-3">
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              id="firstName"
              placeholder="Prénom"
            />
            <div *ngFor="let error of errorMessages.firstName">
              <small
                *ngIf="
                  deliveryAddressForm.get('firstName')?.hasError(error.type) &&
                  (deliveryAddressForm.get('firstName')?.dirty ||
                    deliveryAddressForm.get('firstName')?.touched)
                "
                class="error-message"
              >
                {{ error.message }}
              </small>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="lastName"
              placeholder="Nom"
            />
            <div *ngFor="let error of errorMessages.lastName">
              <small
                *ngIf="
                  deliveryAddressForm.get('lastName')?.hasError(error.type) &&
                  (deliveryAddressForm.get('lastName')?.dirty ||
                    deliveryAddressForm.get('lastName')?.touched)
                "
                class="error-message"
              >
                {{ error.message }}
              </small>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="address"
              placeholder="Adresse"
            />
            <div *ngFor="let error of errorMessages.address">
              <small
                *ngIf="
                  deliveryAddressForm.get('address')?.hasError(error.type) &&
                  (deliveryAddressForm.get('address')?.dirty ||
                    deliveryAddressForm.get('address')?.touched)
                "
                class="error-message"
              >
                {{ error.message }}
              </small>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="number"
              formControlName="zipCode"
              class="form-control"
              id="zipCode"
              placeholder="Code Postal"
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="city"
              class="form-control"
              id="city"
              placeholder="Ville"
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              formControlName="country"
              class="form-control"
              id="country"
              placeholder="Pays"
            />
          </div>

          <div class="mb-5">
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control"
              id="phoneNumber"
              placeholder="Numéro de Téléphone"
            />
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="btn-primary"
              [disabled]="!deliveryAddressForm.valid"
            >
              Continuer vers la livraison
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Liste des produits et récapitulatif (Masqué sur mobile, accessible via la popup) -->
    <div class="col-lg-6 d-none d-lg-flex flex-column align-items-end">
      <div class="card mb-0 rounded product-card">
        <div class="card-body cardbody-color p-lg-4 product-list-container">
          <app-product-display
            *ngFor="let item of cartItems"
            [item]="item"
            [showVolume]="true"
          ></app-product-display>
        </div>
      </div>

      <div
        class="card my-5 rounded summary-card card-summary-margin order-summary-card"
      >
        <div class="card-body p-lg-5">
          <h3 class="title-order">Récapitulatif de la Commande</h3>
          <div class="summary-item">
            Total <span>{{ cartTotal | number : ".2-2" }} €</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup pour afficher le récapitulatif sur mobile -->
<div *ngIf="showSummaryPopup" class="summary-popup">
  <div class="popup-content">
    <button class="close-btn" (click)="showSummaryPopup = false">
      &times;
    </button>
    <h3 class="title-order">Récapitulatif de la Commande</h3>
    <div class="product-list-container">
      <app-product-display
        *ngFor="let item of cartItems"
        [item]="item"
        [showVolume]="true"
      ></app-product-display>
    </div>
    <div class="summary-item">
      Total <span>{{ cartTotal | number : ".2-2" }} €</span>
    </div>
  </div>
</div>
