.row {
  padding-left: 1rem;
  padding-right: 1rem;
}
.product-card,
.order-summary-card {
  width: 100%;
  margin-top: 30px;
}
.product-list-container {
  max-height: 300px;
  overflow-y: auto;
}
.form-control {
  border: none;
  border-bottom: 1px solid rgb(186, 183, 183);
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  border-bottom: 1px solid var(--main-color);
  outline: none;
  box-shadow: none;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.summary-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-top: 15px;
}
.title-order {
  margin-bottom: 60px;
  text-align: center;
}
.error-message {
  color: red;
  text-align: center;
  margin: 0 auto;
}
.summary-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}
.close-btn:hover {
  color: red;
}
@media (max-width: 992px) {
  .row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .product-card,
  .order-summary-card {
    width: 100%;
    margin-top: 30px;
    display: none;
  }
  .product-list-container {
    max-height: 450px;
  }
  .title-order {
    margin-bottom: 40px;
  }
  .btn-info {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(231, 241, 231);
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .product-card,
  .order-summary-card {
    width: 100%;
    margin-top: 20px;
  }
  .summary-item {
    font-size: 1rem;
  }
  .form-control {
    font-size: 1rem;
  }
  .cardbody-color {
    padding: 1rem;
  }
  .btn-info {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(231, 241, 231);
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .product-card,
  .order-summary-card {
    width: 100%;
    margin-top: 15px;
  }
  .summary-item {
    font-size: 0.9rem;
  }
  .form-control {
    font-size: 0.9rem;
  }
  .summary-popup .popup-content {
    width: 95%;
  }
  .title-order {
    margin-bottom: 30px;
  }
  .btn-info {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(231, 241, 231);
    max-width: 100%;
    text-align: center;
  }
}
