.burger-menu {
  display: none;
  cursor: pointer;
}

.menu-container {
  padding: 30px 80px 20px;
  background-color: #eccbe7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.logo {
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #0a0a0a;
}

.custom-search-field {
  position: relative;
  width: 100%;
  border-radius: 15px;
}

.custom-input {
  border: none;
  border-bottom: 2px solid #0a0a0a;
  font-size: 16px;
  border-radius: 15px;
  padding: 12px;
  width: 100%;
}

.search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.icon {
  cursor: pointer;
  margin-left: 20px;
  cursor: pointer;
}

#menu {
  list-style: none;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #f5f5f5;
  width: 100%;
  box-sizing: border-box;
  margin-top: 19px;
  z-index: 1000;
}

#menu li {
  display: inline-block;
  margin: 0 20px;
}

#menu li a {
  text-decoration: none;
}

#menu li.active a {
  color: var(--main-color);
}

.close-icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1001; /* Ajuster le z-index pour placer la croix au-dessus du menu */
}

/* Media Queries for Responsive Design */
@media (max-width: 899px) {
  #menu {
    display: none;
    top: -15px;
    background-color: #f5f5f5;
    z-index: 1000;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .burger-icon {
    margin-right: 10px;
  }

  .menu-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .custom-search-field {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  #menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #menu li {
    margin: 10px 0;
  }

  .close-icon {
    display: block;
    margin-top: 10px; /* Ajout d'une marge pour séparer la croix du reste du contenu */
    cursor: pointer;
  }
}
