<!-- Main Menu -->
<nav class="navbar navbar-expand-md navbar-light bg-light main-menu">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Burger Menu Button -->
    <div class="burger-menu">
      <span
        *ngIf="isBurgerIconVisible"
        class="burger-icon"
        (click)="toggleBurgerMenu()"
        >&#9776;</span
      >
    </div>

    <!-- Logo -->
    <a class="navbar-brand mx-auto">
      <img class="logo" src="/assets/logo.png" alt="logo" [routerLink]="'/'" />
    </a>

    <!-- Search Form -->
    <!-- Search Form -->
    <form class="custom-search-form" (submit)="$event.preventDefault()">
      <div class="custom-input-wrapper">
        <input
          class="custom-search-input"
          type="search"
          [(ngModel)]="searchQuery"
          name="search"
          (input)="onSearchChange()"
          placeholder="Rechercher un produit"
          aria-label="Search"
        />
        <span class="search-icon">
          <i class="fa fa-search"></i>
        </span>

        <!-- Résultats dynamiques -->
        <div class="search-dropdown" *ngIf="filteredProducts.length > 0">
          <div
            *ngFor="let product of filteredProducts"
            (click)="goToProduct(product)"
            class="search-result-item"
          >
            <img
              [src]="product.image"
              class="product-thumbnail"
              alt="{{ product.name }}"
            />
            <div class="product-info">
              <div class="product-name">{{ product.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="icons-container d-flex align-items-center">
      <mat-icon *ngIf="!isLoggedIn" class="icon" [routerLink]="'/signin'">
        account_circle
      </mat-icon>
      <mat-icon *ngIf="isLoggedIn" class="icon" [routerLink]="'/profile'">
        person
      </mat-icon>

      <!-- Favoris avec badge -->
      <div class="icon">
        <mat-icon (click)="favorite()">favorite</mat-icon>
        <span *ngIf="favoriteCount > 0" class="favorite-count">{{
          favoriteCount
        }}</span>
      </div>

      <!-- Panier avec badge -->
      <div class="icon">
        <mat-icon (click)="goToCart()">shopping_cart</mat-icon>
        <span *ngIf="cartCount > 0" class="cart-count">{{ cartCount }}</span>
      </div>

      <div class="icon">
        <mat-icon *ngIf="isLoggedIn" class="icon" (click)="logout()"
          >exit_to_app</mat-icon
        >
      </div>
    </div>
  </div>
</nav>

<!-- Sub Menu -->
<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
  <div class="container">
    <div
      class="collapse navbar-collapse"
      id="navbar"
      [ngClass]="{ show: isBurgerMenuOpen }"
    >
      <li class="nav-item close-icon" (click)="toggleBurgerMenu()">
        <span>&#10006;</span>
      </li>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/new-product'"
            [ngClass]="{ active: isCurrentRoute('/new-product') }"
            >Nouveautés</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/cream'"
            [ngClass]="{ active: isCurrentRoute('/cream') }"
            >Crèmes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/hair'"
            [ngClass]="{ active: isCurrentRoute('/hair') }"
            >Cheveux</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/contact'"
            [ngClass]="{ active: isCurrentRoute('/contact') }"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile Search Bar -->
<div class="search-bar d-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-inline mb-4 mx-auto">
          <div class="input-group">
            <input
              class="form-control"
              type="search"
              placeholder="Rechercher un produit..."
              aria-label="Search"
            />
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
