<div class="container-fluid header-container">
  <div class="row justify-content-between align-items-center menu-container">
    <div class="col-md-auto">
      <a class="logo" routerLink="/">Etherea</a>
    </div>

    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="custom-search-field">
        <input type="text" placeholder="Rechercher" class="custom-input" />
        <mat-icon class="icon">search</mat-icon>
      </div>
    </div>

    <div class="col-md-auto">
      <mat-icon class="icon">account_circle</mat-icon>
      <mat-icon class="icon">shopping_cart</mat-icon>
    </div>
  </div>

  <ul id="menu" class="main-menu">
    <li [ngClass]="{ active: isCurrentRoute('/new') }">
      <a routerLink="/new">Nouveauté</a>
    </li>
    <li [ngClass]="{ active: isCurrentRoute('/cream') }">
      <a routerLink="/cream">Crèmes</a>
    </li>
    <li [ngClass]="{ active: isCurrentRoute('/hair') }">
      <a routerLink="/hair">Cheveux</a>
    </li>
    <li [ngClass]="{ active: isCurrentRoute('/contact') }">
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
</div>
